<{extend name="./index/iframe"}>
<{block name="content"}>

    <form class="form-horizontal" method="post" role="form" action="<{$header.form}>"  enctype="multipart/form-data">
        <div class="form-group">
            <label for="cat" class="col-sm-3 control-label">类别：</label>
            <div class="col-sm-3">  
                <select class="form-control" name="category" >
                    <{volist name="category" id="vo"}>
                    <option value="<{$vo.id_list}>"><{$vo.title}>(<{$vo.deep}>)</option>
                    <{/volist}>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="cat" class="col-sm-3 control-label">期数：</label>
            <div class="col-sm-3">  
                <select class="form-control" name="term" >
                    <option value="0">不设期数</option>
                    <{volist name="term" id="vo"}>
                    <option value="<{$vo.id}>"><{$vo.title}></option>
                    <{/volist}>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">产品名称：</label>
            <div class="col-sm-9">  
                <input id="name" type="text" class="form-control" name="name" <{if $header.form == "edit"}>value="<{$result.name}>" <{else}>value=""<{/if}> placeholder="必填" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="sub_name" class="col-sm-3 control-label">副标题：</label>
            <div class="col-sm-9">  
                <input id="name" type="text" class="form-control" name="sub_name" <{if $header.form == "edit"}>value="<{$result.sub_name}>" <{else}>value=""<{/if}>/>
            </div>
        </div>

        <div class="form-group">
            <label for="key_words" class="col-sm-3 control-label">关键字：</label>
            <div class="col-sm-9">  
                <input id="name" type="text" class="form-control" name="key_words" <{if $header.form == "edit"}>value="<{$result.key_words}>" <{else}>value=""<{/if}>/>
            </div>
        </div>

        

        <div class="form-group">
            <label for="price" class="col-sm-3 control-label">销售价：</label>
            <div class="col-sm-2">  
                <input id="price" type="text" class="form-control" name="price" <{if $header.form == "edit"}>value="<{$result.price}>" <{else}>value=""<{/if}> placeholder="必填" required/>
            </div>
            <label for="price" class="col-sm-2 control-label">库存：</label>
            <div class="col-sm-2">  
                <input id="price" type="text" class="form-control" name="amount" <{if $header.form == "edit"}>value="<{$result.amount}>" <{else}>value="99"<{/if}> placeholder="必填" required/>
            </div>
        </div>
        
        <div class="form-group">
            <label for="cost_price" class="col-sm-3 control-label">成本价：</label>
            <div class="col-sm-2">  
                <input id="cost_price" type="text" class="form-control" name="cost_price" <{if $header.form == "edit"}>value="<{$result.cost_price}>" <{else}>value=""<{/if}>/>
            </div>

            <label for="sell_price" class="col-sm-2 control-label">市场价：</label>
            <div class="col-sm-2">  
                <input id="sell_price" type="text" class="form-control" name="sell_price" <{if $header.form == "edit"}>value="<{$result.sell_price}>" <{else}>value=""<{/if}>/>
            </div>
        </div>

        <div class="form-group">
            <label for="weight" class="col-sm-3 control-label">重量：</label>
            <div class="col-sm-2">  
                <input id="weight" type="text" class="form-control" name="weight" <{if $header.form == "edit"}>value="<{$result.weight}>" <{else}>value=""<{/if}> placeholder="必填"  required/>
                
            </div>
            <span class="help-block">kg</span>
        </div>

        <div class="form-group">
            <label for="bait" class="col-sm-3 control-label">鱼饵价格：</label>
            <div class="col-sm-2">  
                <input id="bait" type="text" class="form-control" name="baitprice" value="10" placeholder="必填"  required/>
            </div>
            <{if $header.form == 'edit'}>
            <label for="bait" class="col-sm-2 control-label">当前鱼饵：</label>
            <div class="col-sm-2">  
                <input id="bait" type="text" class="form-control" name="bait" <{if $header.form == "edit"}>value="<{$result.bait}>" <{else}>value=""<{/if}> placeholder="不填则为默认"  />
            </div>
            <{/if}>

            <p class="help-block title-0">鱼饵价格x：购买该产品每满x元赠送一个鱼饵(默认10元)</p>
            
        </div>

        <div class="form-group">
            <label for="point" class="col-sm-3 control-label">赠送积分：</label>
            <div class="col-sm-2">  
                <input id="point" type="text" class="form-control" name="point" <{if $header.form == "edit"}>value="<{$result.point}>" <{else}>value=""<{/if}>"  />
            </div>
            <span class="help-block">购买该产品赠送的积分数，如果不填写，则1RMB=1积分</span>
        </div>


        <div class="form-group">
            <label for="promotion" class="col-sm-3 control-label">设置规格：</label>
            <div class="col-sm-7 panel panel-default">
                <div class="panel-body ">
                    <ul id="specul">
                        <{if $header.form=='edit'}>
                            <{volist name="speccheck" id="vo" key="k"}>
                                <li class=" default-spec-li" sort="<{$k}>">
                                    <input type="hidden" name="specs[<{$k}>][id]" value="<{$vo.id}>"/>
                                    <input class="pull-left spec-value o_h wp_45" name="specs[<{$k}>][spec]" value="<{$vo.spec}>" title="<{$vo.spec}>" required/>
                                    <!--<span class="glyphicon glyphicon-remove pull-right" onClick="delSpec(<{$k}>);" title="删除该规格"></span>-->
                                    <input class="pull-left spec-num wp_20" name="specs[<{$k}>][num]" value="<{$vo.num}>" placeholder="数量" required/>
                                    <input class="pull-left spec-num wp_20" name="specs[<{$k}>][price]" value="<{$vo.price}>" placeholder="价格" />
                                </li>
                            <{/volist}>
                        <{/if}>
                    </ul>
                    
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="promotion" class="col-sm-3 control-label">选择规格：</label>
            <div class="col-sm-7 panel panel-default">
                <div class="panel-body " >
                    <{volist name="specs" id="vo"}>
                        <select class="form-control col-sm-2 spec-select"  style="width: 23%!important; margin: 0 2% 5px 0;">
                            <option value="0"><{$vo.title}></option>
                            <{volist name="$vo.value" id="v"}>
                            <option value="<{$v.1}>"><{$v.1}></option>
                            <{/volist}>
                        </select>
                    <{/volist}>
                </div>
            </div>
            <label for="service" class="col-sm-2 control-label">
                
                <a class="pull-left" href="javascript: void(0);" onClick="selectSpec();">确定</a>
                <br><br>
                <a class="pull-left" href="javascript: void(0);">查看规格</a>
            </label>
            
        </div>

        <div class="form-group">
            <label for="promotion" class="col-sm-3 control-label">促销活动：</label>
            <div class="col-sm-5 panel panel-default">
                <div class="panel-body">
                    <{volist name="promotion" id="vo"}>
                    <input type="radio" class="radio-inline" name="promotion" value="<{$vo.id}>" /><{$vo.title}>
                    <{/volist}>
                </div>
            </div>
            <label for="service" class="col-sm-2 control-label">
                <a class="pull-left" href="javascript: void(0);">查看促销</a>
            </label>
        </div>

        <div class="form-group">
            <label for="service" class="col-sm-3 control-label">关联服务：</label>
            <div class="col-sm-5 panel panel-default">
                <div class="panel-body">
                    <{volist name="service" id="vo"}>
                    <label class="checkbox-inline">
                        <input class="checkbox-input" id="services-<{$vo.id}>" type="checkbox" name="services[]" value="<{$vo.id}>"/><{$vo.title}>
                    </label>
                    <{/volist}>
                </div>
            </div>
            <label for="service" class="col-sm-2 control-label">
                <a class="pull-left" href="<{:url('service/index', ['navid'=>41])}>">查看服务</a>
            </label>
        </div>


        <div class="form-group">
            <label for="brand" class="col-sm-3 control-label">品牌：</label>
            <div class="col-sm-3">  
                <select class="form-control" name="brand" >
                    <{volist name="brand" id="vo"}>
                    <option value="<{$vo.id}>"><{$vo.title}></option>
                    <{/volist}>
                </select>
            </div>
        </div>





        <div class="form-group">
            <label for="free_shipping" class="col-sm-3 control-label">免邮费：</label>
            <div class="col-sm-2">  
                <{if $header.form=="add"}>
                <input type="radio" class="radio-inline" name="free_shipping" value="1" checked/>免邮费
                <input type="radio" class="radio-inline" name="free_shipping" value="2" />不免邮费
                <{else}>
                    <{if $result.free_shipping==1}>
                    <input type="radio" class="radio-inline" name="free_shipping" value="1" checked/>免邮费
                    <input type="radio" class="radio-inline" name="free_shipping" value="2" />不免邮费
                    <{else}>
                    <input type="radio" class="radio-inline" name="free_shipping" value="1" />免邮费
                    <input type="radio" class="radio-inline" name="free_shipping" value="2" checked/>不免邮费
                    <{/if}>
                <{/if}>
            </div>
            <span class="help-block">如果启用，则不判断重量是否增加邮费</span>
            
        </div>

        <div class="form-group">
            <label for="status" class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-5">
                <{if $header.form=="add"}>
                <input type="radio" class="radio-inline" name="status" value="1" />上架（启用）
                <input type="radio" class="radio-inline" name="status" value="2" checked/>下架（锁定）
                <{else}>
                    <{if $result.status==1}>
                    <input type="radio" class="radio-inline" name="status" value="1" checked/>上架（启用）
                    <input type="radio" class="radio-inline" name="status" value="2"/>下架（锁定）
                    <{else}>
                    <input type="radio" class="radio-inline" name="status" value="1" />上架（启用）
                    <input type="radio" class="radio-inline" name="status" value="2" checked/>下架（锁定）
                    <{/if}>

                <{/if}>
            </div>
        </div>

        <{if $header.form !="add"}>
            <div class="form-group">
                <label for="adv_img" class="col-sm-3 control-label">展示图片：</label>
                <div class="col-sm-3 panel panel-default">
                    <div class="panel-body" >
                        <img class="h250 w250" src="<{$result.img}>" />
                    </div>
                </div>
            </div>
        <{/if}>

        <div class="form-group">
            <label for="pic" class="col-sm-3 control-label">上传展示：</label>
            <div class="col-sm-9">
                <input id="advimg" type="file" multiple accept="image/*" class="form-control fileinput" name="advimg[]" upurl=""/>
                <span class="help-block">如果不设置展示图片，则会使用详情图片</span>
            </div>
            
            <script>
                initFileInput('advimg', $('input#advimg').attr('upurl'));
            </script>
        </div>


        <div class="form-group">
            <label for="preview" class="col-sm-3 control-label">图片详情：</label>
            <div class="col-sm-9 panel panel-default">
                <div class="panel-body">
                    <{volist name="picture" id="vo"}>
                        <img class="goods-pic-prew" src="<{$vo.pic}>"/>

                    <{/volist}>
                </div>
            </div>
            
        </div>

        <div class="form-group">
            <label for="pic" class="col-sm-3 control-label">上传图片：</label>
            <div class="col-sm-9">
                <input id="images" type="file" multiple accept="image/*" class="form-control fileinput" name="images[]" upurl=""/>
                <p class="help-block title-0">图片可同时选择多张，自动按顺序上传</p>
            </div>
            <script>
                initFileInput('images', $('input#images').attr('upurl'));
            </script>
        </div>

        <div class="form-group">
            <label for="decription" class="col-sm-3 control-label">描述：</label>
            <div class="col-sm-5">
                <textarea id="decription" class="form-control" name="description" rows="8" required><{if $header.form != "add"}><{$result.description}><{/if}></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="remark" class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-5">
                <textarea id="remark"  class="form-control" name="remark" rows=3><{if $header.form != "add"}><{$result.remark}><{/if}></textarea>
            </div>
        </div>    

        <div class="form-group">
            <div class="col-sm-12">
                <textarea id="editor" type="text/plain" name="detail" style="width: 100%; height: 600px;">
                    <{if $header.form == "edit"}>
                        <{$result.detail}>
                    <{/if}>
                </textarea>
            </div>
        </div>

        

        <{if $header.form=="edit"}>
        <input type="hidden" name="id" value="<{$result.id}>"/>
        <{/if}>
        <!--引入提交-->
        <{include file="iframe/submit"}>
    </form>
    
    <!--config文件： 官方建议和实例化页面置于同一文件下-->
    <!--<script type="text/javascript" charset="utf-8" src="./ueditor.config.js"></script>-->
    <script type="text/javascript" charset="utf-8" src="__STATIC__/js/plugin/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/js/plugin/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/js/plugin/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script>
        var ueditor = UE.getEditor('editor',{autoSyncData:true});
        <{volist name="sercheck" id="vo"}>
            $('#services-<{$vo}>').attr('checked', true);
        <{/volist}>
        
        function selectSpec(){
            var spec = [];
            var val = '';
            var max = 0;
            jQuery('.spec-select').each(function(key, value){
                if($(this).val() != '0'){
                    spec.push($(this).val());
                }
            });

            if(spec.length === 0){
                alert('尚未选择规格');
            }else{
                val = spec.join(' '); //获取选择的规格
                if($('.default-spec-li').attr('sort') !== undefined){
                    max = parseInt($('.default-spec-li:last').attr('sort'))+1;
                }
                
                var html = '<li class=" default-spec-li" sort="'+max+'">';
                html += '<input type="hidden" name="specs['+max+'][id]" value="0"/>';
                html += '<input class="pull-left spec-value o_h wp_45" name="specs['+max+'][spec]" value="'+val+'" title="'+val+'" required/>';
                
                html += '<input class="pull-left spec-num wp_20" name="specs['+max+'][num]" value="0" placeholder="数量" required/>';
                html += '<input class="pull-left spec-num wp_20" name="specs['+max+'][price]" value="99" placeholder="价格" />';
                html += '<span class="glyphicon glyphicon-remove pull-right" onClick="delSpec('+max+');" title="删除该规格"></span></li>';
                $('#specul').append(html);
            }
            
        }

        function delSpec(id){
            $('li.default-spec-li[sort='+id+']').remove();
        }
        
    </script>

<{/block}>