<{extend name="./index/iframe"}>
<{block name="content"}>
<!--<style>
    .layui-table-view{
        border-left: 0!important;
        border-right: 0!important;
    }
</style>-->
<table id="goods" lay-filter="test"></table>

<script>
layui.use('table', function(){
  var table = layui.table;
  var iframe_height = $('.ccontent-panel').height();
  var iframe_width = $('.content-panel').width();
  
  //第一个实例
  table.render({
    elem: '#goods'
    ,height: iframe_height
    ,width: iframe_width
    ,url: '/admin/goods/getGoodsList/' //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width: iframe_width*0.05, sort: true, fixed: 'left'}
      ,{field: 'name', title: '名称', width: iframe_width*0.25}
      ,{field: 'price', title: '价格', width: iframe_width*0.1, sort: true}
      ,{field: 'amount', title: '数量', width: iframe_width*0.1} 
      ,{field: 'bait', title: '鱼饵', width: iframe_width*0.1} 
      ,{field: 'point', title: '积分', width: iframe_width*0.1, sort: true}
      ,{field: 'addtime', title: '添加时间', width: iframe_width*0.1, sort: true}
      ,{field: 'adduser', title: '添加人', width: iframe_width*0.05}
      ,{field: 'option', title: '操作', width: iframe_width*0.14}
    ]]
  });

});
</script>
<{/block}>