<{extend name="./public/index"/}>
<{block name="content"}>
<div  class=" content-panel " data-ng-controller="cartCtrl">
    <div class="more-info-navbar wp_100 ">
        <ul  >
            <li>
                <a href="javascript: void(0);">购物车</a>
            </li>
        </ul>
    </div>

    <div class="more-info-detail table-title wp_100">
        <div class=" wp_15">
            <div class="hp_100 pull-left">
                <input data-ng-model="allChecked"  data-ng-click="checkAllCart($event);" type="checkbox"/>
            </div>
            &nbsp;全选
        </div>
        <div class=" wp_50">商品</div>
        <div class=" wp_10">单价</div>
        <div class=" wp_10">数量</div>
        <div class=" wp_10">小计</div>
        <div class=" wp_5">操作</div>
    </div>
    <div class="more-info-detail wp_100" >
        <{volist name="carts" id="vo"}>
            <div class="cart-goods-record  wp_100">
                <div class="wp_15">
                    
                    <input data-ng-checked="allChecked" data-ng-click="checkCart($event, <{$vo.cart_id}>);" type="checkbox"/>
                    <a href="javascript: void(0);">
                        <img title="<{$vo.sub_name}>" class="cart-goods-pic" src="<{$vo.pic}>"/>
                    </a>
                </div>
                <div class="goods-detail wp_50">
                    <p title="<{$vo.description}>"><{$vo.name}></p>
                    <p>
                        规格：<{$vo.spec}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript: void(0);" class="pull-right">
                            赠送鱼饵：<{$vo.bait}>个&nbsp;&nbsp;&nbsp;&nbsp;
                            获得<{$vo.point}>积分
                        </a>
                    </p>
                    <!--<a href="javascript: void(0);">促销活动：</a>-->
                    <{if $vo.promotion != ''}>
                    <span class="goods-promotion " >
                        <{$vo.promotion}>
                    </span>
                    <{/if}>

                </div>
                <div class=" wp_10">
                    <span class="font-color-sub_main">¥ <{$vo.price}></span>
                    
                </div>
                <div class=" wp_10">
                    <a class="number-change" href="/index/cart/setDec/id/<{$vo.cart_id}>/num/<{$vo.num}>" title="数量减1">-</a>
                    <input class="cart-goods-num" name="number" value="<{$vo.num}>"/>
                    <a class="number-change" href="/index/cart/setInc/id/<{$vo.cart_id}>/num/<{$vo.num}>" title="数量加1">+</a>
                </div>
                <div class=" wp_10">
                    <span class="font-color-sub_main">¥ <{$vo.price*$vo.num}></span>
                    
                </div>
                <div class=" wp_5">
                    <a href="<{:url('cart/del', ['id'=>$vo.cart_id])}>" title="删除该商品">
                        删除
                    </a>
                </div>
            </div>
        <{/volist}>
    </div>
    <div class="more-info-navbar wp_100">
        <ul  >
            <li>
                <div class="hp_100 pull-left">
                    <input  data-ng-model="allChecked" data-ng-click="checkAllCart($event);" type="checkbox"/>
                </div>
                &nbsp;全选
            </li>
            <li> <a href="/index/cart/delete/id_list/{{cart_list}}" >删除选中商品</a></li>
            <li><a href="<{:url('cart/delete')}>" >清理下架商品</a></li>
        </ul>

        <a class="pull-right" href="/index/order/preview/id_list/{{cart_list}}" title="结算选中商品">
            <button class="submit-btn-default ">去结算</button>
        </a>
    </div>
</div>

<script>
    app.controller('cartCtrl', function($scope) {
        var all_cart = <{$all_cart}>; //获取全部的购物车ID
        //console.log(all_cart);
        var check_list = []; //选中的ID

        $scope.cart_list = ''; //初始化
        $scope.checkAllCart = function($event){
            var checkbox = $event.target;
            if(checkbox.checked){
                check_list = all_cart;
                $scope.cart_list = check_list.join(); //把数组放入一个数组，并用分隔符分割，默认是","
            }else{
                check_list = [];
                $scope.cart_list = '';
            }
        }

        $scope.checkCart = function($event, $id){
            var checkbox = $event.target; //获取checkbox元素
            var pos = check_list.indexOf($id);
            if(checkbox.checked){ //选中
                if(pos < 0){ //不存在则添加
                    check_list.push($id); //添加元素
                }
            }else{ //取消选中
                if(pos >= 0){//存在则清除
                    check_list.splice(pos, 1); //清除
                }
            }
            
            $scope.cart_list = check_list.join();

        }

    });

    



</script>
<{/block}>