/*@import "keep_base.css";公共css*/
.container{top: 0; bottom: 0; left: 0; right: 0; 
	background: url(../images/mall/fishing_bg.jpg) no-repeat;
	background-size: 100%;
	background-position: center;
	}
.abs{position: absolute;}
.user-property{top: 0.5em; left: 0.5em; right: 5em;
	background: url(../images/opacity/white50.png) no-repeat center ; 
	border-radius: 10px;
	padding: 0.5em; font-size: 1.5em;
}
.property-title{
	color: red;
}
.property-value{
	color: white;
}
.headimgurl{
	height: 4em; width: 4em; 
	border-radius: 50%; 
	right: 0.5em; top: 0.5em;
	
}


#river-panel{bottom: 0; width: 65%;height: 30%; }
.river-left{
	width: 8%;
	height: 13%;
	bottom: 17%;
	z-index: 99;
}
.river-right{
	left: 62%;
	width: 20%;
	height: 20%;
	bottom: 10%;
	transform: skewX(30deg);
	z-index: 99;
}
.top-panel{z-index: 990; position: fixed; left: 10%;}
.mask{ width: 100%; height: 100%; bottom: 0; display: none;
z-index: 998;}

#fish-finish{ height: 5em; width: 5em; 
bottom: 2.5em; z-index: 999; 
display: none;
/*left: 40%; */
right: 5%;
}

.info-panel{height: 40%; width: 80%; top: 25%;  background: red; display: none;}
.info-panel div{width: 100%; text-align: center;}
.info-panel-title{height: 20%; margin: 5% 0; font-size: 2em;}
.info-panel-content{height: 70%; font-size: 1.5em;}



.fishing-panel{height: 45%; width: 80%; top: 20%; display: none;}

#fish-float{background: url(../images/mall/fishfloat.png) no-repeat;
height: 60px; width: 0.1em; display: none;}
#river-canvas{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 65%;
	height: 46.8%;
	
}