
#top-headimgurl{
    border-radius: 50%;
    -moz-box-shadow: -3px 0px 10px #6ad4c9;
    -webkit-box-shadow: -3px 0px 10px #6ad4c9; 
    box-shadow: -3px 0px 10px #6ad4c9;
    /*-moz-box-shadow: -3px 0px 10px rgba(224, 183, 18, 1);
    -webkit-box-shadow: -3px 0px 10px rgba(224, 183, 18, 1); 
    box-shadow: -3px 0px 10px rgba(224, 183, 18, 1);*/
    height: 100px; width: 100px;
    margin-top: 7%; margin-left: 9%;
}

#my-qrcode{
    -moz-box-shadow: 3px 0px 10px #6ad4c9;
    -webkit-box-shadow: 3px 0px 10px #6ad4c9; 
    box-shadow: 3px 0px 10px #6ad4c9;
    height: 120px; width: 120px;
    margin-top: 2%; margin-right: 4%;
}
div.user-headinfo-panel{  height: 150px; margin-top: 20px; }
div.headinfo-left-panel{width: 30%; background: white; 
    border-top-left-radius: 80px;border-bottom-left-radius: 80px;}
div.headinfo-right-panel{
    width: 70%; 
    background: url('/static/images/mall/user_head_left.png') no-repeat;
    background-size: 100% 100%;
}
div.headinfo-left-panel div.left-panel-info{ width: 210px;}
.left-panel-info .vip-info{
    margin-top: 14%; margin-left: 5%;
    color: rgba(224, 183, 18, 1); font-size: 1.5em;
}

.headinfo-right-panel .right-panel-info-1{ margin-left: 6%;
    width: 280px; margin-top: 2%; border-right: 1px dashed #e0e0e0; 
}

.right-panel-info-1 .right-info-1-btn{ cursor: pointer;
    width: 60px; height: 55px; border-radius: 50%; 
    text-align: center; color: #6ad4c9;
    margin-left: 17%; margin-top: 3%;
}

.right-panel-info-1 .right-info-1-btn i{
    font-size: 24px;
}

.headinfo-right-panel .right-panel-info-2{
    width: 300px; margin-top: 2%; margin-left: 2%; 
}
.headinfo-right-panel .right-panel-info-2 .right-info-p{
    margin-top: 5%; font-size: 15px; padding-left: 20%; color: rgba(224, 183, 18, 1);
}


    .f_c{color: #999;}
    .input_border{border: 1px solid #e0e0e0;padding: 0px 10px;color:#666}
    .withdraw{height: 50px;padding: 16px 10px;border-bottom: 1px dashed #f0f0f0;}
    .withdraw-record{height:35px; margin-bottom: 15px;}
    .withdraw-title{width:100px;height:35px;margin-right:20px;line-height:32px;border:1px dashed #e0e0e0;cursor:pointer;}
    .withdraw-content{height:35px;line-height:35px;}
    .red{color:red;}
    .goadd{width:60px;height:30px;line-height: 30px;text-align: center;background:red;color:#fff;margin:10px 0px;}


/*我的资产*/
    .inner-goods-img{
        height: 80px; width: 80px; border-radius: 50%;  border: 1px solid white;
    }
    .inner-log-img{border-radius: 50%;   border: 1px solid rgba(111, 249, 193, 1);}
    div.user-money{
        height: 310px; border: 1px dashed #e0e0e0; 
        width: 48%; margin: 1% 1% 1% 0; background-color: rgba(111, 249, 193, 1);
    }
    div.user-property{
        height: 150px; border: 1px dashed #e0e0e0; 
        width: 48%; 
        margin: 1% 1% 0 1%; 
        background-color: rgba(111, 249, 193, 1);
        /*background-color: rgba(244, 234, 32, 1);*/
    }
    img.inner-goods-img{margin: 7% 5%;}
    img.my-money{ height: 200px; width: 200px; margin: 10% 6%;}
    div.my-money{color: white;}
    div.inner-money-btn{height: 60px; width: 200px; 
        font-size: 20px; line-height: 60px; margin-top: 6%; margin-right: 5%;
    }
    div.inner-goods-btn{height: 40px; width: 100px;  
    font-size: 16px; line-height: 40px; margin-top: 11%; margin-right: 3%; cursor: pointer;}
    .color-white{border: 2px solid white; color: white;}
    div.withdraw{padding: 5px 10px;}
    div.log-value{margin-top: 10px;}