body{
    background: url(/static/images/mall/login.jpg) no-repeat;
    background-origin: center;
    background-size: 100% auto;
    text-align: center;
}
.logo{
    font-size: 10em; 
    color: #6ad4c9;
}
.back{
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.25em;
    padding: 1em;
    margin: 0 1em;
    height: 100%;
}
.logo_title{
    color: #fff;
    font-weight: bold;
}
.input-group{
    margin: 2em auto;
}
.content{
    /*position: fixed;
    bottom: 4.1em;*/
    width: 100%;
    text-align: center;
}
.form input{
    background: rgba(102,102,102,0);
    outline: none!important;
    color: #fff;
    border: none;
    width: 100%;
    border-bottom-right-radius: 0px!important;
    border-bottom: 1px solid #ccc;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.form span{
    position: absolute;
    top: 0.5em;
    left: -1em;
    border: none;
    font-size: 2em!important;
    color: #fff;
}
.form input:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid #6ad4c9;
}
.form button{
    color: #fff;
    background: #6ad4c9;
    font-size: 1.5em;
    border: none;
}
.form button:active{
    border: none;
    box-shadow: none;
    background: #6992d4;
}
.forget{
    position: relative;
    bottom: -2em;
    text-decoration: underline;
    color: #fff;
}
.forget:active{
    color: #6992d4;
}