<{extend name="./index/iframe"}>
<{block name="content"}>
    <form class="form-horizontal" method="post" role="form" action="<{$header.form}>" enctype="multipart/form-data">
        <!--<{if $header.form=="edit"}>
        <div class="form-group">
            <label for="headimg" class="col-sm-3 control-label"></label>
            <div class=" member-headimg col-sm-3 col-md-3">
                <a href="javascript: void(0);" class="thumbnail">
                    <img class=" member-headimg form-control" src="<{$result.img}>" alt="分类图片未显示"/>
                </a>
            </div>
        </div>
        <{/if}>-->

        

        <div class="form-group">
            <label for="id_list" class="col-sm-3 control-label">类别链：</label>
            <div class="col-sm-5">
                <select class="form-control" name="id_list" required>

                    <option value="0" <{if $pid_list == 0}>selected<{/if}> >顶级类别</option>

                    
                    <{volist name="list" id="vo"}>
                        <!--不显示本品类-->
                        <{if $header.form == "add"}>
                        <option value="<{$vo.id_list}>" <{if $pid_list == $vo.id_list}>selected<{/if}>>
                            <{$vo.prex}>(<{$vo.deep}>)<{$vo.title}>
                        </option>
                        <{else}>
                            <{if $vo.id != $result.id}>
                            <option value="<{$vo.id_list}>" <{if $pid_list == $vo.id_list}>selected<{/if}>>
                                <{$vo.prex}>(<{$vo.deep}>)<{$vo.title}>
                            </option>
                            <{/if}>
                        <{/if}>
                    <{/volist}>

                </select>
                <p class="help-block title-0">选择类别后，新添加/修改的类别会处于该选项类别链之下</p>
            </div>
            <label class="col-sm-2 control-label">
                <a class="pull-left" href="<{:url('category/index', ['navid'=>32])}>">查看分类</a>
            </label>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">分类名称：</label>
            <div class="col-sm-5">
                <input id="title" type="text" class="form-control" name="title" <{if $header.form=="add"}>value=""<{else}>value="<{$result.title}>" <{/if}> required/>
            </div>
        </div>

        <div class="form-group">
            <label for="headimg" class="col-sm-3 control-label">分类图片：</label>
            <div class="col-sm-5 ">
                <input id="headimg" type="file" multiple accept="image/*" class="form-control fileinput" name="headimg[]" upurl=""/>
                <p class="help-block title-0">开发不完善，请慎重图片尺寸，联系开发人员：fjwcoder@gmail.com</p>
            </div>
            <script>
                initFileInput('headimg', $('input#headimg').attr('upurl'));
            </script>
        </div>

        <div class="form-group">
            <label for="status" class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-5">
                
                <{if $header.form=="add" || $result.status==1}>
                <input type="radio" class="radio-inline" name="status" value="1" checked/>启用
                <input type="radio" class="radio-inline" name="status" value="2" />锁定
                <{else}>
                <input type="radio" class="radio-inline" name="status" value="1" />启用
                <input type="radio" class="radio-inline" name="status" value="2" checked/>锁定
                <{/if}>

            </div>
        </div>

        <div class="form-group">
            <label for="decription" class="col-sm-3 control-label">描述：</label>
            <div class="col-sm-5">
                <textarea id="decription" class="form-control" name="description" rows="8" required><{if $header.form != "add"}><{$result.description}><{/if}></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="promotion" class="col-sm-3 control-label">关联促销：</label>
            <div class="col-sm-5">
                待开发 // 如果不用，就不开发了:)
            </div>
        </div>

        <div class="form-group">
            <label for="service" class="col-sm-3 control-label">关联服务：</label>
            <div class="col-sm-5 panel panel-default">
                <div class="panel-body">
                    <{volist name="service" id="vo"}>
                    <label class="checkbox-inline">
                        <input class="checkbox-input" id="services-<{$vo.id}>" type="checkbox" name="services[]" value="<{$vo.id}>"/><{$vo.title}>
                    </label>
                    <{/volist}>
                </div>
            </div>
            <label for="service" class="col-sm-2 control-label">
                <a class="pull-left" href="<{:url('service/index', ['navid'=>41])}>">查看服务</a>
            </label>
        </div>

        <div class="form-group">
            <label for="brand" class="col-sm-3 control-label">关联品牌：</label>
            <div class="col-sm-5 panel panel-default">
                <div class="panel-body">
                    <{volist name="brand" id="vo"}>
                    <label class="checkbox-inline">
                        <input class="checkbox-input" id="brands-<{$vo.id}>" type="checkbox" name="brands[]" value="<{$vo.id}>"/><{$vo.title}>
                    </label>
                    <{/volist}>
                </div>
            </div>
            <label for="brand" class="col-sm-2 control-label">
                <a class="pull-left" href="<{:url('brand/index', ['navid'=>34])}>">查看品牌</a>
            </label>
        </div>

        <div class="form-group">
            <label for="remark" class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-5">
                <textarea id="remark"  class="form-control" name="remark" rows=3><{if $header.form != "add"}><{$result.remark}><{/if}></textarea>
            </div>
        </div>
        
        <{if $header.form=="edit"}>
        
        <div class="form-group">
            <label for="addtime" class="col-sm-3 control-label">添加时间：</label>
            <div class="col-sm-5 ">
                <{$result.addtime|date='Y-m-d H:i:s',###}>
            </div>
        </div>

        <div class="form-group">
            <label for="adduser" class="col-sm-3 control-label">添加人：</label>
            <div class="col-sm-5">
                <{$result.adduser}>
            </div>
        </div>
        
        <input type="hidden" name="id" value="<{$result.id}>"/>
        <{/if}>

        <!--引入提交-->
        <{include file="iframe/submit"}>

    </form>
    <script>

            <{volist name="sercheck" id="vo"}>
                $('#services-<{$vo}>').attr('checked', true);
            <{/volist}>

            <{volist name="bracheck" id="vo"}>
                $('#brands-<{$vo}>').attr('checked', true);
            <{/volist}>
    </script>
    
<{/block}>