<{extend name="./public/index"/}>
<{block name="content"}>
<div  class=" content-panel ">
    <!--导航栏-->
    <!--<{include file="./public/navbar"/}>-->
    <link rel="stylesheet" href="__CSS__/mall_default_comment.css" type="text/css"/>
    <link rel="stylesheet" href="__CSS__/plugin/magnifier.css" type="text/css"/>
    <div data-ng-controller="goodsCtrl" class="goods-detail-panel wp_100">
        <div class="goods-picture wp_40  pull-left">
            <!-- 大图begin -->
            <div id="preview" class="main-pic wp_100">
                 <span class="jqzoom"><img jqimg="<{$goods.pic.0.pic}>" src="<{$goods.pic.0.pic}>" /></span> 
            </div>
            <!-- 大图end -->
            <!-- 缩略图begin -->
            <div class="spec-scroll"> <a class=" prev">&lt;</a> <a class=" next">&gt;</a>
                <div class="items">
                    <ul>
                        <{volist name="goods.pic" id="vo" empty="暂时没有数据"}>
                            <li><img bimg="<{$vo.pic}>" src="<{$vo.pic}>" onmousemove="preview(this);"></li>
                        <{/volist}>
                    </ul>
                </div>
            </div>
            <!-- 缩略图end -->

        </div>


        <div class="goods-detail wp_60 pull-left">
            <h4><{$goods.name}> </h4>
            <p class="goods-desc" title="<{$goods.description}>"><{$goods.description}></p>
            <div class="goods-price  wp_100">
                <p>
                    
                    
                    <{if $goods.promotion.type == 1}>
                    <span class="item-title">促销价：</span>
                    <span class="font-color-sub_main">¥</span>
                    <span class=" price" title="折扣后价格" ng-bind="{{real_price|number:2}}"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <s >原价:<span ng-bind="{{price|number:2}}"></span></s>

                    <{else}>
                    <span class="item-title">价格：</span>
                    <span class="font-color-sub_main">¥</span>
                    <span class=" price" ng-bind="{{price|number:2}}"></span>
                    <{/if}>
                    
                </p>
                
                <p>
                    <{if $goods.promotion > 0}>
                        <span class="item-title">促 销：</span>
                        <span class="goods-promotion " title="<{$goods.promotion.description}>">
                        <{$goods.promotion.title}>
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <{/if}>
                    <span class="item-title">购买可获得：</span>
                    <span class="font-color-sub_main"><{$goods.bait}> 鱼饵 + <{$goods.point}> 积分</span>
                    
                </p>
                
                <p>
                    <span class="item-title">来 源：</span>
                    <span class="font-color-sub_main">
                    <{if $goods.userid == 0}>
                        六耳猕猴官方商城
                    <{else}>
                        入驻商家
                    <{/if}>
                    </span>
                </p>
            </div>
            
            <p class="goods-info">
                <{if $goods.free_shipping ==1}>
                    <span class="item-title">运费：</span>免运费
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <{/if}>
                <span class="item-title">重量：</span>
                <{$goods.weight}>kg
                
           
                
            </p>
            
            <ul>
                <li><span class="item-title">选择规格：</span></li>
                <{volist name="$goods.spec" id="vo"}>
                    <li class=" default-spec-li" ng-class="{choseSpec: <{$vo.id}>==isChose}" ng-click="specSelect(<{$vo.id}>);"><{$vo.spec}></li>
                <{/volist}>
            </ul>

            
            <div class="amount-number wp_100">
                <p style="line-height: 45px;"><span class="item-title">库存：</span><{$goods.amount}>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span >
                        <a href="javascript: void(0);" ng-click="subNumber(1);" title="减少数量">-</a>
                        <input id="buy-number" type="text" style="margin-left: 0!important;"  ng-model="buy_number" readonly/>
                        
                        <a href="javascript: void(0);" ng-click="addNumber(1);" title="增加数量">+</a>
                    </span>
                </p>

            </div>
            <div class="goods-buy wp_100">
                <!--立即购买-->
                <!--<a href="/index/sale/buy/id/<{$goods.id}>/spec/{{specValue}}/num/{{buy_number}}">
                    <div>立即购买</div>
                </a>-->

                <a href="/index/cart/add/id/<{$goods.id}>/spec/{{specValue}}/num/{{buy_number}}" title="加入购物车">
                    <button class="submit-btn ">加入购物车</button>
                </a>

                <!--<a href="/index/sale/collect/id/<{$goods.id}>">
                    <div>收藏</div>
                </a>-->
                
            </div>
            <{if $goods.service}>
                <p class="goods-service">
                    <span class="item-title">尊享服务：</span>
                    <{volist name="goods.service" id="vo"}>
                    <{$vo.title}>
                    <{/volist}>
                </p>
            <{/if}>
            
        </div>


        <!--更多内容-->
        
        <div class="more-info wp_100 pull-left">
            <div class="more-info-navbar wp_100 ">
                <ul  >
                    <li  >
                        <a href="javascript: void(0);" ng-click="barSelect(0);">商品详情</a>
                    </li>
                    <li class="li-split">/</li>
                    <!--<li   >
                        <a href="javascript: void(0);"  ng-click="barSelect(1);">规格与包装</a>
                    </li>
                    <li class="li-split" >/</li>
                    <li  >
                        <a href="javascript: void(0);"  ng-click="barSelect(2);">售后保障</a>
                    </li>
                    <li class="li-split" >/</li>-->
                    <li  >
                        <a href="javascript: void(0);"  ng-click="barSelect(3);">商品评论</a>
                    </li>
                </ul>
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 0==choseBar}">
                <{$goods.detail | htmlspecialchars_decode}>
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 1==choseBar}">
                规格与包装
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 2==choseBar}">
                售后保障
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 3==choseBar}">
                <div class="goods-title wp_100 h45">
                    商品评价
                </div>
                <div class="goods-com">
                    <div class="o_h fz_18">
                        <div class="comment-percent w120 h100">
                            <strong class="percent-tit">好评度</strong>
                            <div class="percent-con">
                                100<span>%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods-main h30">
                    <ul>
                        <li>
                            <a href="javascript: void(0);" ng-click="barSelected(0);">全部评论</a>
                        </li>
                        <li class="li-split">/</li>
                        <li>
                            <a href="javascript: void(0);" ng-click="barSelected(1);">好评</a>
                        </li>
                        <li class="li-split" >/</li>
                        <li>
                            <a href="javascript: void(0);" ng-click="barSelected(2);">中评</a>
                        </li>
                        <li class="li-split" >/</li>
                        <li>
                            <a href="javascript: void(0);" ng-click="barSelected(3);">差评</a>
                        </li>
                    </ul>
                </div>
                <div style="clear:both;"></div>
                    <!-- 全部评论 -->
                    <div class="more-info-detail wp_100 hp_100">
                        <div class="comment-item">
                        <!--评论列表-->
                        <div class="user-column w150" ng-repeat="value in comment">
                            <div class="wp_20 f_l">
                                    <img src="{{value.headimgurl}}" class="w30 h30 o_h head-img" />
                                    <span class="liu">{{value.nickname}}</span><br />
                                    <!--<span class="ba">PLUS会员</span>-->
                                </div>
                                <div class="wp_80 f_r">
                                <span class="heart_span" ng-if="value.comment_star == '0'">
                                </span>
                                <span class="heart_span" ng-if="value.comment_star == '1'">
                                    <span class="fa fa-heart"></span>
                                </span>
                                <span class="heart_span" ng-if="value.comment_star == '2'">
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                </span>
                                <span class="heart_span" ng-if="value.comment_star == '3'">
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                </span>
                                <span class="heart_span" ng-if="value.comment_star == '4'">
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                </span>
                                <span class="heart_span" ng-if="value.comment_star == '5'">
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                    <span class="fa fa-heart"></span>
                                </span>
                                <div>{{value.comment}}</div>
                                    <div>
                                        <div class="f_l" >
                                            <span class="ba">{{value.spec}}</span>&nbsp;&nbsp;&nbsp;&nbsp; 
                                            <span class="ba">{{value.addtime}}</span>
                                        </div>
                                        <div class="f_r w100" >
                                            <!-- 点赞 -->
                                            <div class="praise" ng-click="zan(<{$goods.id}>)">
                                                <span class="fa fa-thumbs-up"></span>
                                                <span class="praise-txt">{{value.agree}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
					   <!--评论列表-->
						
                    </div>   
                </div>
            </div>
            
        </div>
    </div>
</div>
<style>
    .goods-title{background-color: #f5f5f5;line-height: 46px;padding-left:20px;}
    .goods-com{padding: 10px 30px;}
    .comment-percent{padding:15px 0 0 30px;}
    .percent-tit{color:#666;font-weight: 400;}
    .percent-con{color: #e4393c;font-size: 45px;}
    .percent-con span{font-size: 23px;}
    .goods-main{background-color: #FAFAFA;border:1px solid #f5f5f5;}
    .goods-main ul li{float:left;margin: 5px 10px 0;}
    .comment-item{width:100%;overflow:hidden;line-height:35px;margin-top:10px;}
    .user-column{border-bottom:1px solid #DDDDDD;width:95%;margin:0 auto;overflow:hidden;padding: 10px 0px;}
    .liu{color: #666;}
    .ba{color: #888;}
    .head-img{border-radius: 15px;display: inline-block;vertical-align: middle;}
    /* .zan{width:160px;} */
    .praise{width:20px;height:20px;cursor: pointer;font-size: 12px;text-align:center;position: relative;}
    #praise{display:block;width:20px;height:20px;margin:0 auto;}
    .praise-txt{height:25px;line-height:25px;display: block;position: absolute;left:26px;top:0px;}
    .praise img{width:20px;height:20px;display:block;margin: 0 auto;}
    #add-num{display:none;}
    #praise:hover{background: url("__STATIC__/images/comment/yizan.png");}
    .heart_span span{
        color: #f00;
    }
</style>
<script>
    
    app.controller('goodsCtrl', function($scope, $http) {
        <{if $isactive}>
            $scope.price = <{$goods.active_price}>;
        <{else}>
            $scope.price = <{$goods.price}>;
        <{/if}>
        <{if $goods.promotion.type==1}>
            $scope.real_price = <{$goods.price}>*<{$goods.promotion.percent}>/100;
        <{/if}>
        $scope.buy_number = 1; //购买数量初始化
        $scope.addNumber = function($num){
            $scope.buy_number += $num;
        }
        $scope.subNumber = function($num){
            if($scope.buy_number == 1){
                $scope.buy_number = 1;
            }else{
                $scope.buy_number -= $num;
            }
            
        }
        //商品详情
        $scope.choseBar = 0;
        $scope.barSelect = function($id){
            $scope.choseBar = $id;
        }

        $scope.choseBare = 0;
        $scope.comment=<{$comment}>;
        $scope.barSelected = function($id){
            $scope.choseBare = $id;
            $scope.choseBare = $id;
            var url="/index/goods/comment/"+"comment_id/"+$id+"/goods_id/"+<{$goods.id}>;
            $http.get(url).success( function(data) {
                $scope.comment=data; 
            });
        }

        $scope.zan = function($gid){
            var url="/index/goods/zan/gid/"+$gid;
            $http.get(url).success( function(data){
                if (data.status == '0') {
                    alert('点赞成功！');
                }
                if (data.status == '1') {
                    alert("一个人只能点赞一次！");
                }
                if (data.status == '2') {
                    alert("请登录后点赞!");
                }
            });
        }
        // 默认选中第一个规格
        $scope.isChose = <{$goods.spec.0.id}>;
        $scope.specValue = <{$goods.spec.0.id}>; 
        $scope.specSelect = function($id) {
            $scope.specValue = $id; 
            $scope.isChose = $id;
        }


    });


</script>
<!-- 点赞 -->
<script>
	$(function(){
        $(".praise-img").mouseover(function(){
            $(this).animate({width:"26px",height:"26px"},1000);
        });
        $(".praise-img").mouseout(function(){
            $(this).animate({width:"20px",height:"20px"},1000);
        });
		$(".praise-img").click(function(){
                var agre = $(".praise-txt").html();
                var agree = parseInt(agre)+1;
                var gid = $(".goodid").val();
                $.ajax({
                    type: "get",
                    url:  "/index/goods/zan",
                    data: {"agree": agree,"gid":gid},
                    success:function(res){
                        var arr=JSON.parse(res);
                        if(arr.status == 1){
                            $(".praise-txt").empty().css("color","red").append(agree);
                            $(".praise-img").attr("src","__STATIC__/images/comment/yizan.png");
                        }else{
                            alert("只能点赞一次吆");
                            return false;
                        }
                    },
                    error:function(res){
                    }
                });
            
		});
    })
</script>
<script src="__JS__/plugin/magnifier/jquery.jqzoom.js"></script>
<script src="__JS__/plugin/magnifier/magnifier.js"></script>
<{/block}>