<{extend name="./public/index"/}>
<{block name="content"}>
<div  class=" content-panel ">
    <!--导航栏-->
    <!--<{include file="./public/navbar"/}>-->
    
    <div data-ng-controller="goodsCtrl" class="goods-detail-panel wp_100">
        <div class="goods-picture wp_40  pull-left">
            <style>
                .tb-thumb li{float: left;}

                .tb-pic a{display:table-cell;text-align:center;vertical-align:middle;}
                .tb-pic a img{vertical-align:middle;}
                .tb-pic a{*display:block;*font-family:Arial;*line-height:1;}
                .tb-thumb{margin:10px 0 0;overflow:hidden;}
                .tb-thumb li{background:none repeat scroll 0 0 transparent;float:left;height:42px;margin:0 6px 0 0;overflow:hidden;padding:1px;}
                .tb-s310, .tb-s310 a{height:310px;width:310px;}
                .tb-s310, .tb-s310 img{max-height:310px;max-width:310px;}
                .tb-s310 a{*font-size:271px;}
                .tb-s40 a{*font-size:35px;}
                .tb-s40, .tb-s40 a{height:40px;width:40px;}
                .tb-booth{border:1px solid #CDCDCD;position:relative;z-index:1;}
                .tb-thumb .tb-selected{background:none repeat scroll 0 0 #C30008;height:40px;padding:2px;}
                .tb-thumb .tb-selected div{background-color:#FFFFFF;border:medium none;}
                .tb-thumb li div{border:1px solid #CDCDCD;}
                div.zoomDiv{z-index:999; position:absolute; top:0px; left:0px; width:303.75px; height:303.75px;
                    background:#ffffff; border:1px solid #CCCCCC; display:none; text-align:center; overflow:hidden;}
                div.zoomMask{position:absolute; background:url("images/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;}
            </style>
            <div class="main-pic wp_100">
                <a href="__STATIC__/images/01.jpg">
                    <img src="__STATIC__/images/01_mid.jpg" alt="美女" rel="__STATIC__/images/01_mid.jpg" id="jqzoom" class="jqzoom" />
                </a>
            </div>
            
            <ul class="tb-thumb" id="thumblist">
                <li class="tb-selected"><div class="tb-pic tb-s40"><a href="javascript: void(0);"><img src="__STATIC__/images/01_small.jpg" mid="__STATIC__/images/01_mid.jpg" big="__STATIC__/images/01.jpg"></a></div></li>
                <li><div class="tb-pic tb-s40"><a href="javascript: void(0);"><img  src="__STATIC__/images/02_small.jpg" mid="__STATIC__/images/02_mid.jpg" big="__STATIC__/images/02.jpg"></a></div></li>
                <li><div class="tb-pic tb-s40"><a href="javascript: void(0);"><img src="__STATIC__/images/03_small.jpg" mid="__STATIC__/images/03_mid.jpg" big="__STATIC__/images/03.jpg"></a></div></li>
                <li><div class="tb-pic tb-s40"><a href="javascript: void(0);"><img src="__STATIC__/images/04_small.jpg" mid="__STATIC__/images/04_mid.jpg" big="__STATIC__/images/04.jpg"></a></div></li>
                <li><div class="tb-pic tb-s40"><a href="javascript: void(0);"><img src="__STATIC__/images/05_small.jpg" mid="__STATIC__/images/05_mid.jpg" big="__STATIC__/images/05.jpg"></a></div></li>
            </ul>
        </div>
        <div class="goods-detail wp_60 pull-left">
            <h4><{$goods.name}> </h4>
            <p class="goods-desc" title="<{$goods.description}>"><{$goods.description}></p>
            <div class="goods-price  wp_100">
                <p>
                    
                    
                    <{if $goods.promotion.type == 1}>
                    <span class="item-title">促销价：</span>
                    <span class="font-color-sub_main">¥</span>
                    <span class=" price" title="折扣后价格" ng-bind="{{real_price|number:2}}"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <s >六儿价:<span ng-bind="{{price}}"></span></s>

                    <{else}>
                    <span class="item-title">六 儿 价：</span>
                    <span class="font-color-sub_main">¥</span>
                    <span class=" price" ng-bind="{{price}}"></span>
                    <{/if}>
                    
                </p>
                <p>
                    <span class="item-title">促 销：</span>
                    <span class="goods-promotion " title="<{$goods.promotion.description}>">
                    <{$goods.promotion.title}>
                    </span>
                </p>
                <p>
                    <span class="item-title">来 源：</span>
                    <{if $goods.userid == 0}>
                        六儿官方
                    <{else}>
                        来源不明
                    <{/if}>
                </p>
            </div>
            
            <p class="goods-info">
                <span class="item-title">重量：</span>
                <{$goods.weight}>kg
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
                <{if $goods.free_shipping ==1}>
                    免运费 
                <{/if}>
            </p>
            
            <ul>
                <li><span class="item-title">选择规格：</span></li>
                <style>
                    
                </style>
                <{volist name="$goods.spec" id="vo"}>
                    <li class=" default-spec-li" ng-class="{choseSpec: <{$vo.id}>==isChose}" ng-click="specSelect(<{$vo.id}>);"><{$vo.spec}></li>
                <{/volist}>
            </ul>

            
            <div class="amount-number wp_100">
                <p style="line-height: 45px;"><span class="item-title">库存：</span><{$goods.amount}>
                <!--<i class="deal-num-fa fa fa-plus-square-o"></i>-->
                <input id="buy-number" ng-model="buy_number" title="填写购买数量"/>
                <!--<i class="deal-num-fa fa fa-minus-square-o"></i>-->

                </p>
                
            </div>
            <div class="goods-buy wp_100">
                <!--立即购买-->
                <!--<a href="/index/sale/buy/id/<{$goods.id}>/spec/{{specValue}}/num/{{buy_number}}">
                    <div>立即购买</div>
                </a>-->

                <a href="/index/cart/add/id/<{$goods.id}>/spec/{{specValue}}/num/{{buy_number}}" title="加入购物车">
                    <button class="submit-btn ">加入购物车</button>
                </a>

                <!--<a href="/index/sale/collect/id/<{$goods.id}>">
                    <div>收藏</div>
                </a>-->
                
            </div>
            <p class="goods-service">
                <span class="item-title">尊享服务：</span>
                <{volist name="goods.service" id="vo"}>
                <{$vo.title}>
                <{/volist}>
            </p>
        </div>


        <!--更多内容-->
        
        <div class="more-info wp_100 pull-left">
            <div class="more-info-navbar wp_100 ">
                <ul  >
                    <li  >
                        <a href="javascript: void(0);" ng-click="barSelect(0);">商品详情</a>
                    </li>
                    <li class="li-split">/</li>
                    <li   >
                        <a href="javascript: void(0);"  ng-click="barSelect(1);">规格与包装</a>
                    </li>
                    <li class="li-split" >/</li>
                    <li  >
                        <a href="javascript: void(0);"  ng-click="barSelect(2);">售后保障</a>
                    </li>
                    <li class="li-split" >/</li>
                    <li  >
                        <a href="javascript: void(0);"  ng-click="barSelect(3);">商品评论</a>
                    </li>
                </ul>
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 0==choseBar}">
                <{$goods.detail | htmlspecialchars_decode}>
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 1==choseBar}">
                规格与包装
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 2==choseBar}">
                售后保障
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 3==choseBar}">
                评论
            </div>
            
        </div>
    </div>
</div>
<script>

    app.controller('goodsCtrl', function($scope) {
        $scope.price = <{$goods.price}>;
        <{if $goods.promotion.type==1}>
            $scope.real_price = <{$goods.price}>*<{$goods.promotion.percent}>/100;
        <{/if}>
        $scope.buy_number = 1; //购买数量初始化
        
        //商品详情
        $scope.choseBar = 0;
        $scope.barSelect = function($id){
            $scope.choseBar = $id;
        }


        $scope.specSelect = function($id) {
            $scope.specValue = $id; 
            $scope.isChose = $id;
        }
    });

    //暂时用jquery，回头看看能不能改成angularjs
    $(document).ready(function(){
        $("#jqzoom").imagezoom();
        var currImg = $('#thumblist li:first a');
        $(currImg).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
        $(".jqzoom").attr('src',$(currImg).find("img").attr("mid"));
        $(".jqzoom").attr('rel',$(currImg).find("img").attr("big"));

        $("#thumblist li a").click(function(){
            $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
            $(".jqzoom").attr('src',$(this).find("img").attr("mid"));
            $(".jqzoom").attr('rel',$(this).find("img").attr("big"));
        });
    });

</script>
<{/block}>