<{extend name="./public/index"/}>
<{block name="content"}>
<div  class=" content-panel ">
    <!--导航栏-->
    <!--<{include file="./public/navbar"/}>-->
    <link rel="stylesheet" href="__CSS__/plugin/magnifier.css" type="text/css"/>
    <div data-ng-controller="goodsCtrl" class="goods-detail-panel wp_100">
        <div class="goods-picture wp_40  pull-left">
            <!-- 大图begin -->
            <div id="preview" class="main-pic wp_100">
                 <span class="jqzoom"><img jqimg="<{$goods.pic.0.pic}>" src="<{$goods.pic.0.pic}>" /></span> 
            </div>
            <!-- 大图end -->
            <!-- 缩略图begin -->
            <div class="spec-scroll"> <a class=" prev">&lt;</a> <a class=" next">&gt;</a>
                <div class="items">
                    <ul>
                        <{volist name="goods.pic" id="vo" empty="暂时没有数据"}>
                            <li><img bimg="<{$vo.pic}>" src="<{$vo.pic}>" onmousemove="preview(this);"></li>
                        <{/volist}>
                    </ul>
                </div>
            </div>
            <!-- 缩略图end -->

        </div>


        <div class="goods-detail wp_60 pull-left">
            <h4><{$goods.name}> </h4>
            <p class="goods-desc" title="<{$goods.description}>"><{$goods.description}></p>
            <div class="goods-price  wp_100">
                <p>
                    
                    
                    <{if $goods.promotion.type == 1}>
                    <span class="item-title">促销价：</span>
                    <span class="font-color-sub_main">¥</span>
                    <span class=" price" title="折扣后价格" ng-bind="{{real_price|number:2}}"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <s >六儿价:<span ng-bind="{{price}}"></span></s>

                    <{else}>
                    <span class="item-title">六 儿 价：</span>
                    <span class="font-color-sub_main">¥</span>
                    <span class=" price" ng-bind="{{price}}"></span>
                    <{/if}>
                    
                </p>
                
                <p>
                    <{if $goods.promotion > 0}>
                        <span class="item-title">促 销：</span>
                        <span class="goods-promotion " title="<{$goods.promotion.description}>">
                        <{$goods.promotion.title}>
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <{/if}>
                    <span class="item-title">购买可获得：</span>
                    购买可获得 <{$goods.bait}> 鱼饵 + <{$goods.point}> 积分
                    
                </p>
                
                <p>
                    <span class="item-title">来 源：</span>
                    <{if $goods.userid == 0}>
                        六儿官方
                    <{else}>
                        来源不明
                    <{/if}>
                </p>
            </div>
            
            <p class="goods-info">
                <span class="item-title">重量：</span>
                <{$goods.weight}>kg
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
                <{if $goods.free_shipping ==1}>
                    免运费 
                <{/if}>
            </p>
            
            <ul>
                <li><span class="item-title">选择规格：</span></li>
                <{volist name="$goods.spec" id="vo"}>
                    <li class=" default-spec-li" ng-class="{choseSpec: <{$vo.id}>==isChose}" ng-click="specSelect(<{$vo.id}>);"><{$vo.spec}></li>
                <{/volist}>
            </ul>

            
            <div class="amount-number wp_100">
                <p style="line-height: 45px;"><span class="item-title">库存：</span><{$goods.amount}>
                <!--<i class="deal-num-fa fa fa-plus-square-o"></i>-->
                <input id="buy-number" ng-model="buy_number" title="填写购买数量"/>
                <!--<i class="deal-num-fa fa fa-minus-square-o"></i>-->

                </p>
                
            </div>
            <div class="goods-buy wp_100">
                <!--立即购买-->
                <!--<a href="/index/sale/buy/id/<{$goods.id}>/spec/{{specValue}}/num/{{buy_number}}">
                    <div>立即购买</div>
                </a>-->

                <a href="/index/cart/add/id/<{$goods.id}>/spec/{{specValue}}/num/{{buy_number}}" title="加入购物车">
                    <button class="submit-btn ">加入购物车</button>
                </a>

                <!--<a href="/index/sale/collect/id/<{$goods.id}>">
                    <div>收藏</div>
                </a>-->
                
            </div>
            <{if $goods.service}>
                <p class="goods-service">
                    <span class="item-title">尊享服务：</span>
                    <{volist name="goods.service" id="vo"}>
                    <{$vo.title}>
                    <{/volist}>
                </p>
            <{/if}>
            
        </div>


        <!--更多内容-->
        
        <div class="more-info wp_100 pull-left">
            <div class="more-info-navbar wp_100 ">
                <ul  >
                    <li  >
                        <a href="javascript: void(0);" ng-click="barSelect(0);">商品详情</a>
                    </li>
                    <li class="li-split">/</li>
                    <li   >
                        <a href="javascript: void(0);"  ng-click="barSelect(1);">规格与包装</a>
                    </li>
                    <li class="li-split" >/</li>
                    <li  >
                        <a href="javascript: void(0);"  ng-click="barSelect(2);">售后保障</a>
                    </li>
                    <li class="li-split" >/</li>
                    <li  >
                        <a href="javascript: void(0);"  ng-click="barSelect(3);">商品评论</a>
                    </li>
                </ul>
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 0==choseBar}">
                <{$goods.detail | htmlspecialchars_decode}>
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 1==choseBar}">
                规格与包装
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 2==choseBar}">
                售后保障
            </div>
            <div class="more-info-detail wp_100 khidden" ng-class="{kshow: 3==choseBar}">
                评论
            </div>
            
        </div>
    </div>
</div>

<script>
    
    app.controller('goodsCtrl', function($scope) {
        $scope.price = <{$goods.price}>;
        <{if $goods.promotion.type==1}>
            $scope.real_price = <{$goods.price}>*<{$goods.promotion.percent}>/100;
        <{/if}>
        $scope.buy_number = 1; //购买数量初始化
        
        //商品详情
        $scope.choseBar = 0;
        $scope.barSelect = function($id){
            $scope.choseBar = $id;
        }


        $scope.specSelect = function($id) {
            $scope.specValue = $id; 
            $scope.isChose = $id;
        }
    });


</script>
<script src="__JS__/plugin/magnifier/jquery.jqzoom.js"></script>
<script src="__JS__/plugin/magnifier/magnifier.js"></script>
<{/block}>