<div  class="navbar-panel">
    <ul  >
        <li  >
            <a href="javascript: void(0);">本期直推</a>
        </li>
        <li class="li-split">/</li>
        <li   >
            <a href="javascript: void(0);">数码</a>
        </li>
        <li class="li-split" >/</li>
        <li  >
            <a href="javascript: void(0);">商家入驻</a>
        </li>
        <li class="li-split" >/</li>
        <li  >
            <a href="javascript: void(0);">购买历史</a>
        </li>
        <li class="li-split" >/</li>
        <li  >
            <a href="javascript: void(0);">生鲜</a>
        </li>
        <li class="li-split" >/</li>
        <li  >
            <a href="javascript: void(0);">帮助中心</a>
        </li>
        <li class="li-split" >/</li>
        <li  >
            <a href="<{:url('goods/detail', ['id'=>5])}>">测试商品5</a>
        </li>
    </ul>
</div>