<style>
    header.web-top{position: fixed; top: 0; height: 26px; margin: 0; background: #f0f0f0; z-index: 999;}
div.content-panel{width: 1200px; margin: 0 auto; }

.web-top li{font-size: 14px; text-align: center; }
.web-top ul.pull-left li{float: left!important; margin-right: 32px;} 
.web-top ul.pull-right .sitenav{float: right!important; margin-left: 32px;}
.web-top .fa{margin-top: 5px; padding-right: 2px; text-align: right; font-size: 12px;}
</style>
<div data-ng-controller="topCtrl" class="content-panel line-height-26">
    <ul class="fa-ul pull-left">
        
        <li data-ng-repeat="x in top">
            <a href="{{x.url}}" ng-bind="x.title"><i class="{{x.iconfont}}"></a>
        </li>
    </ul>
    
    <ul class="fa-ul pull-right">
        <li class="sitenav">
            <a href="{{logout}}">
                <i class=" fa-li fa fa-user"></i>注销
            </a>
        </li>
        <li class="sitenav">
            <a href="{{mobile}}" target="_blank">
                <i class=" fa-li fa fa-qrcode"></i>手机商城
            </a>
        </li>
        <li class="sitenav">
            <a href="/index/help/index" target="_blank">
                <i class=" fa-li fa fa-hand-paper-o"></i>帮助中心
            </a>
        </li>

        <li class="sitenav">
            <a href="{{index}}" target="_blank">
                <i class=" fa-li fa fa-qrcode"></i>进入商城
            </a>
        </li>

        <span class="dropdown sitenav" style="height: 26px;">
            <span type="button" class=" dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" >
                <a role="menuitem" tabindex="-1" href="{{user}}" target="_blank">
                    <i class=" fa-li fa fa-user"></i>会员中心
                </a>
            </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{{cart}}" target="_blank">
                        <i class=" fa-li fa fa-heart"></i>购物车
                    </a>
                    
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{{user}}" target="_blank">
                        <i class=" fa-li fa fa-user"></i>会员中心
                    </a>
                </li>

            </ul>
        </li>

    </ul>

</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('topCtrl', function($scope, $http){
        $http.get('/index/index/topInfo')
        .then(function successCallback(response){
            $scope.top = response.data.left;
            
            $scope.logout = response.data.right.logout;
            $scope.mobile = response.data.right.mobile;
            $scope.order = response.data.right.order;
            $scope.cart = response.data.right.cart;
            $scope.user = response.data.right.user;
            $scope.index = response.data.right.index;

        }, function errorCallback(response){
            console.log('失败');
        });
    });

</script>