
<div data-ng-controller="topCtrl" class="content-panel line-height-26">
    <ul class="fa-ul pull-left">
        
        <li data-ng-repeat="x in top">
            <a href="{{x.url}}" ng-bind="x.title"><i class="{{x.iconfont}}"></a>
        </li> 
    </ul>
    
    <ul class="fa-ul pull-right">

        <li class="dropdown sitenav" style="height: 26px;">
            <span type="button" class=" dropdown-toggle" id="dropdownMenu1" >
                <a role="menuitem" tabindex="-1" href="{{mobile}}" target="_blank">
                    <i class=" fa-li fa fa-mobile-phone"></i>手机商城
                </a>
            </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li class="presentation"  role="presentation">
                    <a href="/index/announce/index" target="_blank">系统公告</a>
                </li>
                <li class="presentation"  role="presentation">
                    <a href="/index/help/index" target="_blank">帮助中心</a>
                </li>
            </ul>
        </li>


        <li class="dropdown sitenav" style="height: 26px;">
            <span type="button" class=" dropdown-toggle" id="dropdownMenu2" >
                <a role="menuitem" tabindex="-1" href="{{user}}" target="_blank">
                    <i class=" fa-li fa fa-user"></i>会员中心
                </a>
            </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                <li class="presentation" role="presentation">
                    <a  href="{{order}}" target="_blank">我的订单</a>
                </li>

                <li class="presentation"  role="presentation">
                    <a href="/index/inner/index" target="_blank">我的资产</a>
                </li>

                <li class="presentation khidden" role="presentation" ng-class="{kshow: 1==beshow}">
                    <a href="{{logout}}" >注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销</a>
                </li>

            </ul>
        </li>

        <li class="sitenav">
            <a tabindex="-1" href="{{cart}}" target="_blank">
                <i class=" fa-li fa fa-shopping-cart"></i>
                购物车
            </a>
            
        </li>
        <li class="sitenav">
            <a href="{{index}}" target="_blank">
                <i class=" fa-li fa fa-shopping-bag"></i>进入商城
            </a>
        </li>
    </ul>

</div>
<script>
    var app = angular.module('myApp', []);

    app.controller('topCtrl', function($scope, $http){
        $http.get('/index/index/topInfo')
        .then(function successCallback(response){
            $scope.top = response.data.left;
            if(response.data.show){
                $scope.beshow = 1;
                $scope.logout = response.data.right.logout.url
            }

            $scope.mobile = response.data.right.mobile.url;
            $scope.order = response.data.right.order.url;
            $scope.cart = response.data.right.cart.url;
            $scope.user = response.data.right.user.url;
            $scope.index = response.data.right.index.url;

        }, function errorCallback(response){
            console.log('失败');
        });
    });

</script>
<script>
    $('li.dropdown').mouseover(function(){
        $(this).addClass('open');
    });
    $('li.dropdown').mouseout(function(){
        $(this).removeClass('open');
    });
</script>