<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__STATIC__/css/mobile/mall_mobile_footer.css">
    <link rel="stylesheet" href="__STATIC__/css/mobile/mall_mobile_cart.css">
    <title>购物车</title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular-animate.min.js"></script>
</head>
<body data-ng-app="myApp">
    <div  class="content-panel" data-ng-controller="cartCtrl">
            <{include file="public/header"/}>
        <div class="more-info-top">
            <input id="chose_all" data-ng-model="allChecked"  data-ng-click="checkAllCart($event);" type="checkbox"/>
            <label for="chose_all"></label>
            全选
            <{if $flag == true }>
            <span class="pull-right">
                <a href="/index/cart/delete/id_list/{{cart_list}}" onClick="return confirm('删除后将无法恢复,确定要删除?')">删除</a>
            </span>
            <{/if}>
        </div>
        <div class="more-info-detail" >
            <{volist name="carts" id="vo"}>
                <div id="cart-goods-record-<{$vo.cart_id}>"  class="cart-goods-record">
                    <div class="head-title" ng-click="slideCover(<{$vo.cart_id}>);">
                        <span>
                            <input id="<{$vo.cart_id}>" data-ng-checked="allChecked" data-ng-click="checkCart($event, <{$vo.cart_id}>);" type="checkbox"/>
                            <label for="<{$vo.cart_id}>">
                                <span class="fa fa-check" aria-hidden="true"></span>
                            </label>
                        </span>
                        <span class="pull-right edit edit-btn" >
                            <span class="fa fa-edit"></span>
                        </span>
                    </div>
                    <div class="good-left" >
                        <img title="<{$vo.sub_name}>" class="" src="<{$vo.pic}>"/>
                    </div>
                    <div class="goods-detail" ng-click="slideCover(<{$vo.cart_id}>);">
                        <li class="name-title" title="<{$vo.description}>"><{$vo.name}></li>
                        <li class="good-info">
                            规格：<{$vo.spec}>
                        </li>
                        <li class="">
                            数量：<span id="goods-num-<{$vo.cart_id}>"><{$vo.num}></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            单价：¥<{$vo.price}>
                            <{if $vo.promotion != ''}>
                            <span class="goods-promotion" >
                                <{$vo.promotion}>
                            </span>
                            <{/if}>        
                        </li>
                        <li class="given-info" href="javascript: void(0);">单件商品赠<{$vo.bait}>个鱼饵 + <{$vo.point}>积分</li>
                    </div>
                    <div id="goods-option-<{$vo.cart_id}>"  class="good-option">
                         <li class="option-title" ng-click="slideCover(<{$vo.cart_id}>);"> </li>
                         <li class="changeNum">
                            <{if $vo.num>1}>
                            <span class="number-change " ng-click="subnum(<{$vo.cart_id}>);" title="数量减1">-</span>
                            <{else}>
                            <a class="number-change" href="javascript: void(0);" title="数量减1">-</a>
                            <{/if}>
                            <input id="cart-goods-num-<{$vo.cart_id}>" class="cart-goods-num" name="number" value="<{$vo.num}>"/>
                            <span class="number-change "  ng-click="addnum(<{$vo.cart_id}>);" title="数量加1">+</span>
                        </li>
                        <li>
                            <a class="btn"href="<{:url('cart/del', ['id'=>$vo.cart_id])}>" title="删除该商品">删除</a>
                            <a class="btn " href="javascript: void(0);" ng-click="slideCover(<{$vo.cart_id}>);" title="">完成</a>
                        </li>
                    </div>
                </div>
            <{/volist}>
        </div>
        
        <div class="foot-info-navbar">
            <{if $flag == true }>
                <a class="btn btn-block" href="/index/order/preview/id_list/{{cart_list}}" title="结算选中商品">结算</a>
            <{else}>
                <a class="btn btn-block" href="/index/index/index" title="前往选购">购物</a>
            <{/if}>
        </div>
        
    </div>
    <{include file="public/footer"/}>
    <script>
        var all_cart = <{$all_cart}>; //获取全部的购物车ID
    </script>
    <script src="__STATIC__/js/mall/mobile/mall_mobile_cart.js"></script>
    
</body>
</html>