<!DOCTYPE html>
<html lang="en">
    <head>
    <title><{$header.title}></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/mall_default_layout.css" type="text/css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body  class="login-body abs"  style="background: url(<{$header.loginbg}>);">
        <div class="login-header wp_100 abs h100">
            <div class="login-header-panel hp_100">
                <a href="javascript: void(0);">
                    <img class="login-logo pull-left" src="__STATIC__/images/company/logo.jpg"/>
                </a>
                
                <small><div class="login-title text-center pull-left">微信扫码注册</div></small>
                
            </div>
            
        </div>
        <div class="login-panel">
            <div class="login-panel-img t_c pull-left hp_100 wp_100">
                <a href="javascript: void(0);">
                    <img  style="height: 400px; width: 400px;" src="__STATIC__/images/company/scanRegist.png"/>
                </a>
            </div>
        </div>
        <!--<script src="__STATIC__/js/jquery-1.10.2.min.js"></script>-->
        <!--<script src="__STATIC__/js/form_verify.js"></script>-->
        <!--<div class="abs wp_100 h70">
            <{include file="./public/footer"/}>
        </div>-->
        
    </body>
</html>