
.head-content{
	width: 100%;
	height: 12rem; padding-top: 1.5em;
	background: #f0f0f0;
	/*background: linear-gradient(to top right, #779ad9, 50%, #6ad4c9);
	background: -o-linear-gradient(to top right, #779ad9, 50%, #6ad4c9); 
	background: -moz-linear-gradient(to top right, #779ad9, 50%, #6ad4c9); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#779ad9), to(#6ad4c9));*/
	box-shadow: 0px 1px 1px #ccc;
	z-index: 9999;
}
.head-title{
	width: 100%;
	height: 3rem;
	background: #6ad4c9;
	z-index: 9999;
	color: #fff;
	text-align: center;
	line-height: 3rem;
}
input{
	text-align: center;
	width: 60%;
	height: 1.5rem;
	margin:.2rem auto;
}
select{
	display: block;
}
.head-content span{
	text-align: center;
	width: 100%;
	float: left;
	margin-top: .5rem;
	color: #fff;
	margin:0 auto;
}
.content-top{
	height: 3rem;
	line-height: 3rem;
}
.back_home{
	position:absolute;
	font-size: 20px;
	top:.7rem;
	left: 10px;
}

.head-content button{
	width: 40%;
	height: 2.2em;
	border-radius: .3rem;
	border: 1px solid #fff;
	background: #6ad4c9;
	margin-left: .2rem;
	color: #fff; 
}
.topp{
	/*padding: 0em;*/
	line-height: 2em;
	width: 100%; font-size: 1.5em;
	height: 2em;
	text-align: center;
	color: #6ad4c9;
	border-bottom:1px solid #6ad4c9;
}
.body{
	width: 100%;
}
.withdraw{
	margin:5px auto;
	float: left;
	border-bottom: 1px solid #6ad4c9;
	text-align: center;
	line-height: 20px;
}
.row{
	line-height: 2.5rem;
}
.withdraw-span{
	border-bottom: 2px solid #6ad4c9;
	color:#8e8e8e;
	float: left;
	width: 100%; text-align: right;
	font-size: 18px;
}
.withdraw-span span{
	/*background: #6ad4c9;*/
	/*border-bottom: 5px solid #6ad4c9;*/
}
.address{
	font-size: 12px;
	color: #000;
}


.title{
	width: 100%;
	height: 2rem;
	float: left;
	margin-top: 10px;
	color: #000;
	line-height: 2rem;
	border-bottom: 1px solid #6ad4c9;

}
.fone-color{
	color: red;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
	line-height: 5em;
}
.inner-center{
	text-align: center;
	color: #22ba7f;
	font-size: 15px;
	margin-top: 0px;
}
.center a{
	width: 100%;
	height: 2rem;
	padding: 2px;
	border: 2px solid #6ad4c9;
	background-color: #6ad4c9;
	color: #fff;
}
input[type="radio"]{
	margin-top: -1px;
	width: 20%;
	height:15px;
	vertical-align:middle;
}
.add{
	position: fixed;
	right: 2rem;
	bottom: 3rem;
	color: #fff;
	width: 4rem;
	height: 4rem;
	font-size: 5rem;
	background-color: #6ad4c9;
	text-align: center;
	border-radius: 5rem;
}
.layui-m-layerchild h3{
    margin-top: -20px;
}
.layui-margin-left{
	margin-left:10px;
}



.search-form-div{margin: 1em 0; }
.search_input{
	float: left; border: 1px solid #e0e0e0; height: 2em;
	width: 45%; margin: 0.2em 2.5%; text-align: center; line-height: 2em;
}
.search_input_type1{	width: 28%!important;}
.do-search{background: #6ad4c9; color: #fff; border: 0!important;}
.purchase-content, .purchase-title{	 width: 95%; margin: 0 2.5% 0.5em 2.5%;}
.purchase-title {	height: 2.5em; background: #e0e0e0; color: #666; font-size: 1.3em;	}
.purchase-content{	height: 5em; background: #fff; }
.purchase-title div, .purchase-content div{
	width: 23%; text-align: center; display: inline-block; height: 100%;
}
.l_h_3em{line-height: 3em;}
.l_h_5em{line-height: 5em; }
.purchase-content .l_h_5em img{height: 80%; margin: -0.5em 0 0 5%; border-radius: 50%; 
	border: 1px solid #e0e0e0;}
.btn-buy{font-size: 1.4em; color: #6ad4c9;}
.modelPay{
	height: 34px; width: 64px; margin-top: -1px;
}
input.yuepay-checked{	width: 5em; margin: 0.5em 0 0 5em;}
.modal-content{top: 10em!important;}
p.input-paycode{text-align: center; margin-bottom: 2em;}
p.input-paycode input{height: 2em; border: 0; border-bottom: 1px solid #8e8e8e;}