body{
	margin: 0;
	overflow:hidden;
	overflow-y: auto;
	/* background:url("/static/images/background/bg.jpg"); */
}
.body{	margin: auto; }
li{	list-style: none;}
ul{	padding: 0;}
.head{
	width: 100%;
	height: 15em;
	margin-bottom: 1em;
	background: url("/static/images/mall/menu_head.jpg") no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% auto;
	position: relative;


}
.user-info-panel, .vip-level-panel{
	position: relative;
	width: 90%;
	left: 5%;
	border-radius: 1em;
	
}
.user-info-panel{background: white;top: 4em; z-index: 9; height: 7em;}
.vip-level-panel{background: black; height: 5.5em; z-index: 6; box-shadow: 0em 0.25em 0.25em #ccc;
	color: rgba(224, 183, 18, 1); font-size: 1.3em; line-height: 8.5em; 
}
.vip-level-panel span{margin-left: 1em;}
.user-name{padding: 0.5em 0 0 4.5em; color: rgba(224, 183, 18, 1); font-size: 1.5em;}
.user-property{ height: 3em; width: 100%; }
.user-property li{float: left;}
.user-property li div{margin: 0 ; width: 6em;text-align: center; color: #8e8e8e;}
.user-property li div span{color: black; font-size: 1.1em;}












.back_home, .setting{
	position: absolute;
	color: #fff;
}



.back_home{top: 1em;left: 1em;}
.setting{	position:absolute;	width: 2.5em; z-index: 99;
	height: 2.5em;	line-height: 3em!important;
	border-radius: 1.5em;	top: 1.5em;	left: 1.5em;
	font-size: 1.5em!important;	padding: auto;	transition: all 0.5s;
}
.setting:hover{
	box-shadow: 0em 0.8em 1em #ccc;
}


 .body .link{
 	height: 3em;
 	line-height: 3em;
 	cursor: pointer;
 	color: #666;
 	font-size:1em;
 	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
 }
 .link span{
 	width: 3.5em;
 	padding-left: 1em;
 }
 .body li.open .link{
 	color:#6ad4c9;
 	box-shadow: 0em 0.25em 0.5em #ccc;
 }
 .body .menu{
 	border-bottom: 1px solid #ccc;
 }
 .body .menu:last-child .link{
 	border-bottom: 0;
 }

.desc{
 	background: #fff;
 	font-size: 1em;
 	display: none;
 }
 .desc li{
	color: #666;
	padding-left: 4.5em;
	height: 3em;
	line-height: 3em;
 }
 .desc i{
	width: 3em;
 }
 .desc li:last-child{
 	border-bottom: 0;
 }
 .desc a{
 	display: inline-block;
 	color: #6ad4c9;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }
/*end*/

.setting-content{
	position: absolute;
	height: 0;
	top: 15em;
	left: 4em;
	background-color: #fff;
	box-shadow: 0 0.25em 0.5em #ccc;
	border-radius: 0.25em;
	color: #666;
	opacity:'0';
	overflow: hidden;
	z-index: 10;
}
.setting-header{
	/* background: url("/static/images/mall/menu_head.jpg"); */
	background-repeat:no-repeat; 
	background-size:100% auto;
	-moz-background-size:100% auto;
	margin-bottom: 0.5em;
	border-bottom: 0.25em solid #6ad4c9;
	height: 4em;
	line-height: 4em;
}
.setting-header img{
	position: relative;
	border: 0.25em solid #6ad4c9;
	top: 25%;
	left: 10%;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	text-align: center;
}
.user_name{
	display: block;
	position: relative;
	right: -5em;
	top: -2em;
	font-size: 1em;
	color: #6ad4c9;
	font-weight: bold;	
}

.setting-content a,.body a{
	color: #212121;
	text-decoration: none;
	display: inline-block;
	width: 60%;
/* 	padding-left: 2em; */
}
.body span{
	width: 3.5em;
	text-align: center;
	display: inline-block;
}

.change_info{
	width: 100%;
	text-align: center;	
	margin-bottom: 2em;
	font-size: 0.8em;
}
.change_info img{
	width: 3em;
	height: 3em;
	box-shadow: 2px 2px 3px #ccc;
}
.change_cont{
	height: 3em; 
	line-height: 3em;
	width: 100%;
	margin: 0em 0em 0.5em 0em;
	text-align: left;
}
.change_cont input{
	padding: 1em 0em;
}
.submit-button{
	margin: 0!important;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #6ad4c9;
	color: #fff;
	height: 3em;
	line-height: 3em;
	text-align: center;
}
.setting-content span{	display: inline-block;}
.setting-content div{	padding:0.25em;	margin: 0.25em 0;}
.left{	width: 30%;	text-align: right;}
.right{width: 60%;}

input{
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
}
input:focus{
	border-bottom: 1px solid #6ad4c9;
}
.headimg{border: none;}
.sex input{width: auto;}
.qr a{	padding:0;}
#currency_bu{
	width: 50%;
	height:15em;
	border-radius: 0.25em;
}
#currency_log{
	width: 100%;
	height: 10em;
	border-radius: 0.25em;

	margin-bottom: 1em;
}
/*add by fjw*/

.link-btn-container{
  display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;    /* 老版本语法: Firefox (buggy) */ 
  display: -ms-flexbox;  /* 混合版本语法: IE 10 */
  display: -webkit-flex;  /* 新版本语法： Chrome 21+ */
  display: flex;       /* 新版本语法： Opera 12.1, Firefox 22+ */

  /*垂直居中*/	
  /*老版本语法*/
  -webkit-box-align: center; 
  -moz-box-align: center;
  /*混合版本语法*/
  -ms-flex-align: center; 
  /*新版本语法*/
  -webkit-align-items: center;
  align-items: center;

  /*水平居中*/
  /*老版本语法*/
  -webkit-box-pack: center; 
  -moz-box-pack: center; 
  /*混合版本语法*/
  -ms-flex-pack: center; 
  /*新版本语法*/
  -webkit-justify-content: center;
  justify-content: center;

  margin: 0;
  height: 100%;
  width: 100% /* needed for Firefox */
}
/* >=iphone6 */
/*iphone 6*/
@media  (min-width:370px) {
	.user-property li div{margin: 0 ; width: 7em;text-align: center; color: #8e8e8e;}
}

/*iphone 6p*/
@media  (min-width:414px) {
	.user-property li div{margin: 0 ; width: 7.5em;text-align: center; color: #8e8e8e;}
}


/*over by fjw*/
