<!DOCTYPE html>
<html lang="en">
    <head>
        <title>钓鱼页面</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="__CSS__/mall_default_fishing.css" rel="stylesheet">
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    </head>
    <body>
        <div class="container abs">

            <a href="javascript:history.go(-1);" title="返回">
                <div class="back-btn">
                    <span class=" fa-li fa fa-arrow-left"></span>
                </div>
                
            </a>

            <!--用户资产信息-->
            <div class="user-property-div user-property-bg  abs o_h"></div>
            <div class="user-property user-property-div  abs o_h">
                <span class="property-title">鱼饵: </span>
                <span id="bait" class="property-value"><{$user.bait}> </span>
                &nbsp;
                <span class="property-title">积分: </span>
                <span id="point" class="property-value"><{$user.point}></span>

            </div>
            <{if $login}>
                <li class="dropdown sitenav" style="height: 26px;">
                    <span type="button" class=" dropdown-toggle" id="dropdownMenu2" >
                        <a role="menuitem" tabindex="-1" href="/" >
                            <img class="headimgurl abs" title="用户中心" src="<{$user.headimgurl}>" />
                        </a>
                    </span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        

                    </ul>
                </li>
                
            <{else}>
                <a href="/Index/Login/index">
                    <img class="headimgurl abs" title="前往登录" src="<{$user.headimgurl}>" />
                </a>
            <{/if}>


            <div id="info-panel" class="info-panel top-panel">
                <div id="info-panel-content" class="info-panel-content "></div>
            </div>

            <div id="fishing-panel" class="fishing-panel redpacket-panel top-panel">
                <div id="fishing-panel-content" class="fishing-panel-content ">
                    
                </div>
            </div>

            <div id="fish-float" class="fish-float top-panel"></div><!--鱼漂-->

            <img id="fish-finish" class="fish-finish abs" src="__STATIC__/images/mall/fish_finish.png"/>

            <!--画布-->
            <canvas id="river-canvas" class="river-canvas" ></canvas>
            <!--哎，特殊情况啊，没办法-->
            <div class="river-left abs"></div>
            <div class="river-right abs"></div>
            <!--河面-->
            <div id="river-panel" class="abs"></div>
            <div id="mask" class="mask abs"></div>
        </div>


    </body>

    <script src="__JS__/mall/mall_default_fishing.js" type="text/javascript"></script>

    
</html>