<{extend name="./public/user"/}>
<{block name="content"}>
<!--create by zmx-->
<div class="user-panel address" data-ng-controller="addrCtrl">
    <div class="more-info-navbar wp_100 ">
        <ul  >
            <li>
                <a href="javascript: void(0);">收货地址</a>
                <span class="hint-str">
                        您已创建
                        <span id="addressNum_top" class="hint-int"><{$count}></span>
                        个收货地址，最多可创建
                        <span class="hint-int">10</span>
                        个
                </span>
            </li>
        </ul>
    </div>
    <div class="wp_100" >
        <{volist name="address" id="vo"}>
        <div class="user-address f_l">
            <div class="wp_15 f_l t_r l_h_30">
               <span class="right-label">收货人：</span><br>
               <span class="right-label">所在地区：</span><br> 
               <span class="right-labels">地址：</span><br>
               <span class="right-label">手机：</span><br>
               <span class="right-label">邮编：</span>
               
            </div>
            <div class="wp_60 f_l l_h_30">
                <span class="middle-label"><{$vo.name}></span><br>
                <span class="middle-label"><{$vo.addr}></span><br>
                <span class="middle-label"><{$vo.address}></span><br>
                <span class="middle-label"><{$vo.mobile}></span><br>
                <span class="middle-label"><{$vo.zipcode}></span>
            </div> 
            <div class="t_r f_l wp_90 l_h_30">
                <span class="ctrl-option"><input type="radio" name="checked" value="">&nbsp;&nbsp;默认地址</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="<{:url('edit',['id' => $vo['id']])}>"><span class="ctrl-option">编辑</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="<{:url('del',['id' => $vo['id']])}>"><span class="ctrl-option">删除</span></a>
            </div>
        </div>
        <{/volist}>
    </div>
    <div class="clear"></div>
    <{if condition="$count < 10"}>
    <div class="wp_100" >

        <div class="addaddress">新增收货地址</div> 

        <form  method="post" name="form" action="<{:url('add')}>">
            <div class="user-address-add  wp_100">
                <div class="wp_30 f_l t_r l_h_50">
                    <span class="right-label">收货人：</span><br>
                    <span class="right-label">所在地区：</span><br> 
                    <span class="right-label">地址：</span><br> 
                    <span class="right-label">手机：</span><br>
                    <span class="right-label">邮编：</span> 
                </div>
                <div class="wp_70 f_l l_h_50">
                    <span class="middle-label"><input type="text" name="name" required></span><br>
                    <span class="middle-lab f_l">
                        <select id="province" class="pro kshow" name="province" required>
                            <option value="" selected>==选择==</option>
                            <{volist name="province" id="vo"}>
                            <option value="<{$vo.id}>"><{$vo.name}></option>
                            <{/volist}>
                        </select>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="middle-lab f_l">
                        <select id="city" name="city" class="khidden">
                            
                        </select>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="middle-lab f_l">
                        <select id="area" name="area" class="khidden">
                            
                        </select>
                    </span>
                    <br>
                    <span class="middle-label"><input type="text" name="address" required></span><br>
                    <span class="middle-label"><input type="text" name="mobile" required pattern='^\d{11}$'></span><br>
                    <span class="middle-label"><input type="text" name="zipcode"></span>
                    
                </div>
            </div>
            <div class="clear"></div>
            <div class="more-info-navbar f_l wp_100">  
                <a class="pull-right"  href="javascript: void(0);" title="新增地址">
                    <button class="submit-btn-default ">新增地址</button>
                </a>
            </div>
        </form>
    </div>
    <{/if}>
</div>

<script>

    $(document).ready(function(){
        //选择省份
        $('select[name=province]').change(function(){
            
            $('#city,#area').removeClass('kshow').addClass('khidden');

            $('select[name=city]').empty(); //清除原有的元素
            
            var ob = $(this).val();
            if(ob !=''){
                $.ajax({
                    type: 'get',
                    url: '/index/address/city',
                    data: {id: ob},
                    success: function(response){
                        console.log(response);
                        $('select[name=city]').removeClass('khidden').addClass('kshow pro');
                        var html = createHtml(JSON.parse(response));
                        $('select[name=city]').append(html);
                    },
                    error: function(e){
                        console.log(e);
                    }
                });
            }
        });
        //选择市
        $('select[name=city]').click(function(){
            $('select[name=area]').empty(); //清除原有的元素
            
                $.ajax({
                    type: 'get',
                    url: '/index/address/area',
                    data: {id: $(this).val()},
                    success: function(response){
                        
                        $('select[name=area]').removeClass('khidden').addClass('kshow pro');
                        var html = createHtml(JSON.parse(response));
                        $('select[name=area]').append(html);
                    },
                    error: function(e){
                        console.log(e);
                    }
                });
            
        });

    });

    


    function createHtml(data){
        var html = '';
        for(var i=0; i<data.length; i++){
            html += '<option value="'+data[i]['id']+'">'+data[i]['name']+'</option>';
        }
        return html;
    }






    //angularjs 还没学会怎么动态操作option,先用jquery写吧 ToT
    app.controller('addrCtrl', function($scope, $http){ 
        // $scope.changex = function(x){
        //     $http.get('/index/address/city', {params: {"id": x}})
        //     .then(function successCallback(response){
        //         console.log(response);
        //         $scope.citys = response;
        //     }, function errorCallback(response){

        //     });

        // }

        // $scope.changey = function(y){
        //     $http.get('/index/address/area', {params: {"id": y}})
        //     .then(function successCallback(response){
        //         console.log(response);
        //         $scope.areas = response;
        //     }, function errorCallback(response){

        //     });
        // }
    });
</script>
<{/block}>