<{extend name="./public/index"/}>
<{block name="content"}>
<style>
    .user-address{height: 190px;border-bottom: 1px dashed #f0f0f0;float:left;}
    .user-address-add{padding:20px 20px;}
    .user-address div{float: left;}
    .user-address-add div{float: left;}
    .right{text-align: right;line-height: 30px;}
    .rights{text-align: right;line-height: 50px;}
    .middle{line-height: 30px;}
    .middles{line-height: 50px;}
    .middle-label{font-size: 14px;color:#666;}
    .right-label{font-size: 14px;color: #999;}
    .right-labels{font-size: 14px;color: #999;}
    .option{color:#005EA7;}
    .option:hover{color:#F30213;}
    .addaddress{height:50px;line-height:50px;font-size: 14px;color:#6AD4C9;}
    .middle-label input{width: 500px;height:30px;border: 1px solid #E0E0E0;}
    .center{text-align: center;}
    .addbutton{width: 120px;height: 45px;background: #6AD4C9;font-size: 14px;color: #fff;font-weight: 900;}
    .more-info-navbars{border: 1px solid #6ad4c9;margin-top: -6px;}
    .clear{clear: both;}
</style>
<div class="content-panel" data-ng-controller="addrCtrl">
    <div class="more-info-navbar wp_100 ">
        <ul  >
            <li>
                <a href="javascript: void(0);">收货地址</a>
            </li>
        </ul>
    </div>
    <div class="wp_100" >
        <{volist name="address" id="vo"}>
        <div class="user-address  wp_50">
            <div class="wp_15 right">
               <span class="right-label">收货人：</span><br>
               <span class="right-label">所在地区：</span><br> 
               <span class="right-label">手机：</span><br>
               <span class="right-label">邮编：</span><br>
               <span class="right-labels">地址：</span>
            </div>
            <div class="wp_55 middle">
                <span class="middle-label"><{$vo.name}></span><br>
                <span class="middle-label"><{$vo.addr}></span><br>
                <span class="middle-label"><{$vo.mobile}></span><br>
                <span class="middle-label"><{$vo.zipcode}></span><br>
                <span class="middle-label"><{$vo.address}></span>
            </div> 
            <div class="wp_30 middle">
                <span></span><br>
                <span></span><br>
                <span></span><br>
                <span></span><br>
                <span></span><br>
                <span class="option"><input type="radio" name="checked" value="">&nbsp;&nbsp;默认地址</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="option">编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="option">删除</span>
            </div>
        </div>
        <{/volist}>
    </div>
    <div class="clear"></div>
    <div class="wp_100" >

        <div class="addaddress">新增收货地址</div>
        <form  method="post" name="form" action="">
            <div class="user-address-add  wp_100">
                <div class="wp_30 rights">
                    <span class="right-label">收货人：</span><br>
                    <span class="right-label">所在地区：</span><br> 
                    <span class="right-label">地址：</span><br> 
                    <span class="right-label">手机：</span><br>
                    <span class="right-label">邮编：</span> 
                </div>
                <div class="wp_70 middles">
                    <span class="middle-label"><input type="text" name="name"></span><br>
                    <span class="middle-label f_l">
                        <select id="province" name="province">
                            <option value="" selected>==选择==</option>
                            <{volist name="province" id="vo"}>
                            <option value="<{$vo.id}>"><{$vo.name}></option>
                            <{/volist}>
                        </select>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="middle-label f_l">
                        <select id="city" name="city" class="khidden">
                            
                        </select>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="middle-label f_l">
                        <select id="area" name="area" class="khidden">
                            
                        </select>
                    </span>
                    <br>
                    <span class="middle-label"><input type="text" name="name"></span><br>
                    <span class="middle-label"><input type="text" name="name"></span><br>
                    <span class="middle-label"><input type="text" name="name"></span>
                    
                </div>
            </div>
           
        </form>
        <div class="clear"></div>
        <div class="more-info-navbar wp_100">  
            <a class="pull-right" href="javascript: void(0);" title="新增地址">
                <button class="submit-btn-default ">新增地址</button>
            </a>
        </div>
    </div>
    
</div>
<script>

    $(document).ready(function(){
        //选择省份
        $('select[name=province]').change(function(){
            $('select[name=city]').empty(); //清除原有的元素

            $.ajax({
                type: 'get',
                url: '/index/address/city',
                data: {id: $(this).val()},
                success: function(response){
                    $('select[name=city]').removeClass('khidden').addClass('kshow');
                    var html = createHtml(JSON.parse(response));
                    $('select[name=city]').append(html);
                },
                error: function(e){
                    console.log(e);
                }
            });
            

        });  
    });


    function createHtml(data){
        var html = '';
        for(var i=0; i<data.length-1; i++){
            html += '<option value="'+data[i]['id']+'">'+data[i]['name']+'</option>';
        }
        return html;
    }






    //angularjs 还没学会怎么动态操作option,先用jquery写吧 ToT
    app.controller('addrCtrl', function($scope, $http){ 
        // $scope.changex = function(x){
        //     $http.get('/index/address/city', {params: {"id": x}})
        //     .then(function successCallback(response){
        //         console.log(response);
        //         $scope.citys = response;
        //     }, function errorCallback(response){

        //     });

        // }

        // $scope.changey = function(y){
        //     $http.get('/index/address/area', {params: {"id": y}})
        //     .then(function successCallback(response){
        //         console.log(response);
        //         $scope.areas = response;
        //     }, function errorCallback(response){

        //     });
        // }
    });
</script>
<{/block}>