<{extend name="./index/iframe"}>
<{block name="content"}>

    <form class="form-horizontal" method="post" role="form" action="<{:url('editor')}>" enctype="multipart/form-data">
		<div class="form-group">
            <label for="name" class="col-sm-3 control-label">标识：</label>
            <div class="col-sm-5">  
                <input id="name" type="text" class="form-control" name="name" value="" placeholder="english_name" required/>
            </div>
        </div>
		<div class="form-group">
            <label for="title" class="col-sm-3 control-label">名称：</label>
            <div class="col-sm-5">  
                <input id="title" type="text" class="form-control" name="title" value="" placeholder="中文名称" required/>
            </div>
        </div>
		<div class="form-group">
            <label for="num" class="col-sm-3 control-label">数量：</label>
            <div class="col-sm-5">  
                <input id="num" type="text" class="form-control" name="num" value="" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="min_val" class="col-sm-3 control-label">最小值：</label>
            <div class="col-sm-5">  
                <input id="min_val" type="text" class="form-control" name="min_val" value="" required/>
            </div>
            <span style="line-height:32px;background:pink;color:#fff;padding:6px;">温馨提示：此值的单位是（分）请谨慎填写!!!</span>
        </div>
        <div class="form-group">
            <label for="max_val" class="col-sm-3 control-label">最大值：</label>
            <div class="col-sm-5">  
                <input id="max_val" type="text" class="form-control" name="max_val" value="" required/>
            </div>
            <span style="line-height:32px;background:pink;color:#fff;padding:6px;">温馨提示：此值的单位是（分）请谨慎填写!!!</span>
        </div>

        <!--引入提交-->
        <{include file="iframe/submit"}>
    </form>


<{/block}>