<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title><{$config.page_title}></title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__STATIC__/css/mobile/mall_mobile_detail.css">
    <link rel="stylesheet" href="__CSS__/mobile/mall_mobile_detail_footer.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/swiper-3.4.2.min.css">
    <style>
        .fa-check-circle-o, .fa-ban{color: #6ad4c9;}
    </style>
    <{include file="public/share"}><!--微信分享配置文件-->
</head>
<body data-ng-app="myApp">
    <!--头-->
    <div class="tab">
        <li class="current">商品</li>
        <li>详情</li>
        <li>评价</li>
    </div>
    <!--购物车-->
    <!--<div class="shop_car glyphicon glyphicon-shopping-cart" onclick="location='/index/cart'"></div>-->
    
    <div class="size" data-ng-controller="goodsCtrl">
        <div class="close"></div><!--黑色部分-->
        <div class="size-content">
        <img src="<{$goods.img}>" alt="商品图片" rel="<{$goods.img}>">
        <span class="end_count item-title">单价：<span style="color: red;">￥</span>
            <{if $isactive}>
                <span class="common_price price" ></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="goods-promotion " >
                    <{$isactive.active_name}>
                </span>&nbsp;&nbsp;&nbsp;&nbsp;
                <s>原价：￥<{$goods.price}></s>
            <{else}>
                <{if $goods.promotion.type == 1}>
                    <span  class="promotion_price price" ></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <s>原价:<span class="common_price "></span></s>
                <{else}>
                    <span class="common_price price" ></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                <{/if}>
            <{/if}>
        </span>
        <div style="width: 100%; height: 9em;">
            <span class="end_count item-title" style="width: 40%!important; float: left; margin-top: 1.3em!important;">库存：&nbsp;&nbsp;&nbsp;&nbsp;
                <span id="spec_amount"></span>
            </span>
            <div class="buy_count input-group" style="width: 40%!important; float: right;">
                <{if $isactive}>
                <div class="input-group-addon" ng-click="activeNum(0);">-</div>
                <input id="buy-number" type="text" style="margin-left: 0!important;"  ng-model="buy_number" readonly/>
                <div class="input-group-addon" ng-click="activeNum(0)">+</div>
                <{else}>
                <div class="input-group-addon" ng-click="redNum()">-</div>
                <input id="buy-number"  ng-model="buy_number" />
                <div class="input-group-addon" ng-click="addNum()">+</div>
                <{/if}>
            </div>
        </div>
        

        <!--<li><span class="item-title">选择规格：</span></li>-->
        <{volist name="$goods.spec" id="vo"}>
            <li id="spec-<{$vo.id}>" class="default-spec-li" ng-class="{choseSpec: <{$vo.id}>==isChose}" ng-click="specSelect(<{$vo.id}>);">
                <{$vo.spec}>
                <span class="fa fa-check-circle faHidden" ng-class="{faShow: <{$vo.id}>==isChose}"></span>
            </li>
        <{/volist}>
         
        
        <{if $isactive}>
            <a class="btn add_car" href="/index/cart/add/id/<{$goods.id}>/spec/{{specValue}}/num/1" title="立即抢购">立即抢购</a>
        <{else}>
            <a class="btn add_car" href="/index/cart/add/id/<{$goods.id}>/spec/{{specValue}}/num/{{buy_number}}" title="加入购物车">加入购物车</a>
        <{/if}>
        </div>
    </div>
    <div class="swiper-container-contant" data-ng-controller="goodsCtrl">
        <div class="swiper-wrapper">
            <div class="product_info swiper-slide">
                <!--banner区-->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <{volist name="goods.pic" id="vo"}>
                        <div class="swiper-slide">
                            <img src="<{$vo.pic}>" alt="商品图片" rel="<{$vo.pic}>"/>
                        </div>
                        <{/volist}>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <!--名称价格-->
                <div class="price_con" >
                    <span class="product_name"><{$goods.name}></span>
                    <span class="product_description" title="<{$goods.description}>"><{$goods.description}></span>
                    <!--价格：-->
                    <span class="money-mark">￥</span>
                    <{if $isactive}>
                        <span class="common_price price" ></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="goods-promotion " >
                            <{$isactive.active_name}>
                        </span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <s>原价：￥<{$goods.price}></s>
                    <{else}>
                        <{if $goods.promotion.type == 1}>
                            <span  class="promotion_price price" ></span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <s>原价:<span class="common_price "></span></s>
                        <{else}>
                            <span class="common_price price" ></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        <{/if}>
                    <{/if}>

                    
                    
                    <!--活动提示-->
                    <{if $isactive}>
                        <p style="margin-top: 0.5em;">
                            <span class="fa fa-ban"></span>&nbsp;&nbsp;
                            <span class="item-title"><{$isactive.active_name}> 商品不参与其余促销活动</span>
                        </p>
                    <{/if}>
                    
                    <{if $goods.promotion.title != ''}>
                        <p style="margin-top: 0.5em;">
                            <span class="item-title">促 销：</span>
                            <span class="goods-promotion " title="<{$goods.promotion.description}>">
                            <{$goods.promotion.title}>
                            </span>
                        </p>
                    <{/if}>
                </div>

                <!--规格-->
                <p class="goods-item choice_size" style="font-size: 1.2em; color: #6ad4c9;"> 
                    <span class="fa fa-shopping-bag"></span>&nbsp;&nbsp;选择规格
                    <span class="spec-des pull-right" ></span>
                </p>
                <p class="goods-item">
                    <span class="item-title">配送至：</span>
                    <span class=" fa fa-map-marker" style="color: #6ad4c9;"></span>&nbsp;&nbsp;
                    <{$address}> <span style="color: red; float: right;" >有货</span>
                </p>
                
                <!--商品来源-->
                <p class="goods-item ">
                    <{if $goods.shipping_money == 0}>
                    免运费
                    <{else}>
                    <span class="item-title">运 费：</span> ￥<{$goods.shipping_money}>
                    <{/if}>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="item-title">重 量：</span><{$goods.weight}> kg 
                    <br>
                    <span class="item-title">来 源：</span>
                    <{if $goods.userid == 0}>
                        六耳猕猴团购专营
                    <{else}>
                        入驻商家
                    <{/if}>
                </p>
                <!--享受服务-->
                
                <p class="goods-item">
                
                    <span class="fa fa-check-circle-o"></span>
                    &nbsp;&nbsp;<span class="item-title">六耳猕猴发货&售后</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="fa fa-check-circle-o"></span>
                    &nbsp;&nbsp;<span class="item-title">30-10-10</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="fa fa-check-circle-o"></span>
                    &nbsp;&nbsp;<span class="item-title">自提</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div>
            <!--详情页-->
            <div class="details swiper-slide">
                <{$goods.detail | htmlspecialchars_decode}>
            </div>
            <!--评价-->
            <div class="comment swiper-slide">
                <!--<li class="material-li material-content">
                    好评度 <span class="good-rate">100</span>%
                </li>-->
                <li class="material-li material-bar">
                    <a href="javascript:void(0);" ng-click="barSelected(0);">全部评论</a>
                    <span>/</span>
                    <a href="javascript:void(0);" ng-click="barSelected(1);">好评</a>
                    <span>/</span>
                    <a href="javascript:void(0);" ng-click="barSelected(2);">中评</a>
                    <span>/</span>
                    <a href="javascript:void(0);" ng-click="barSelected(3);">差评</a>
                </li>
                <!--全部评论-->
                <div class="comment_con" ng-repeat="value in comment">
                    <img class="head_img" src="{{value.headimgurl}}"/>
                    <div class="comment_head">
                        <span class="nickname">{{value.nickname}}</span>
                        <p>
                            <span style="float: left;">
                                <span ng-if="value.comment_star == '0'">
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </span>
                                <span ng-if="value.comment_star == '1'">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </span>
                                <span ng-if="value.comment_star == '2'">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </span>
                                <span ng-if="value.comment_star == '3'">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                </span>
                                <span ng-if="value.comment_star == '4'">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </span>
                                <span ng-if="value.comment_star == '5'">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </span>
                            </span>
                            <span class="addtime">{{value.addtime | date:'yyyy-MM-dd'}}</span>
                        </p>
                        
                    </div>
                    <div class="comment-content">{{value.comment}}</div>
                    <p class="order-info">{{value.spec}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_content">
            <a href="/">
                <div class="index item">
                    <span class="fa fa-shopping-bag "></span><br>商城
                </div>
            </a>
            <a href="/index/user/index">
                <div class="user item">
                    <span class="fa fa-user-circle-o"></span><br>用户中心
                </div>
            </a>
            <a href="/index/cart/index">
                <div class="cart item">
                    <span class="fa fa-shopping-cart"></span><br> 购物车
                </div>
            </a>

            <a id="add_cart" >
                <div class="add_cart"></div>
            </a>  
        </div>
    </div>


    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__STATIC__/js/plugin/swiper3/swiper-3.4.2.jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular-animate.min.js"></script>
    
    
    <script>

        var app = angular.module('myApp', []);
        app.controller('goodsCtrl', function($scope,$http) {
            var specArr = <{$spec}>;
            $scope.buy_number = 1; //购买数量初始化
            <{if $isactive}>
                angular.element('.common_price').html(<{$goods.active_price}>);
                angular.element('#add_cart').attr('href', '/index/cart/add/id/<{$goods.id}>/spec/<{$goods.spec.0.id}>/num/'+$scope.buy_number);
                angular.element('.add_cart').html('立即抢购');
            <{else}>
                angular.element('.add_cart').html('加入购物车');
                angular.element('#add_cart').attr('href', '/index/cart/add/id/<{$goods.id}>/spec/<{$goods.spec.0.id}>/num/'+$scope.buy_number);
                <{if $goods.promotion.type==1}>
                    angular.element('.promotion_price').html(<{$goods.price}>*<{$goods.promotion.percent}>/100);

                <{else}>
                    angular.element('.common_price').html(<{$goods.spec.0.price}>);

                <{/if}>
            <{/if}>
            
            
            
            $scope.activeNum = function($num){
                alert('抢购商品，数量不可更改！');
            }
            //商品详情
            $scope.comment=<{$comment}>;
            $scope.barSelected = function($id){
                var url="/index/goods/comment/"+"comment_id/"+$id+"/goods_id/"+<{$goods.id}>;
                $http.get(url).success( function(data) {
                    $scope.comment=data; 
                });
            }

            // 默认选中第一个规格
            $scope.isChose = <{$goods.spec.0.id}>;
            $scope.specValue = <{$goods.spec.0.id}>; // 规格值

            angular.element('#spec_amount').html(<{$goods.spec.0.num}>);
            angular.element('.spec-des').html('已选规格：<{$goods.spec.0.spec}>');//需要修改成angularjs

            $scope.specSelect = function($id) {
                $scope.specValue = $id;  // 规格值
                $scope.isChose = $id; //规格框
                angular.element('#spec_amount').html(specArr[$id]['num']);
                angular.element('.common_price').html(specArr[$id]['price']);
                angular.element('#add_cart').attr('href', '/index/cart/add/id/<{$goods.id}>/spec/'+$scope.specValue+'/num/'+$scope.buy_number);
                angular.element('.spec-des').html('已选规格：'+angular.element('#spec-'+$id).html()); //需要修改成angularjs
            }

            $scope.redNum = function(){
                ($scope.buy_number - 1 <= 0) ? $scope.buy_number = 1 : $scope.buy_number--;
                angular.element('#add_cart').attr('href', '/index/cart/add/id/<{$goods.id}>/spec/'+$scope.specValue+'/num/'+$scope.buy_number);
            }
            $scope.addNum = function(){
                $scope.buy_number++;
                angular.element('#add_cart').attr('href', '/index/cart/add/id/<{$goods.id}>/spec/'+$scope.specValue+'/num/'+$scope.buy_number);
            } 


            // $scope.zan = function($gid){
            //     var url="/index/goods/zan/gid/"+$gid;
            //     $http.get(url).success( function(data){
            //         if (data.status == '0') {
            //             alert('点赞成功！');
            //         }
            //         if (data.status == '1') {
            //             alert("一个人只能点赞一次！");
            //         }
            //         if (data.status == '2') {
            //             alert("请登录后点赞!");
            //         }
            //     });
            // }
        });
        
      </script>
      <script src="__STATIC__/js/mall/mobile/mall_mobile_goods.js"></script>
</body>
</html>