<{extend name="./public/user"/}>
<{block name="content"}>
<div  class=" user-panel order-preview-html " >
    <div class="more-info wp_100 ">
        <div class="more-info-navbar wp_100 ">
            <ul  >
                <li  >
                    <a href="<{:url('index')}>" >全部订单</a>
                </li>
                <li class="li-split">/</li>
                <li   >
                    <a href="<{:url('index', ['status'=>1])}>"  >待支付</a>
                </li>
                <li class="li-split" >/</li>
                <li  >
                    <a href="<{:url('index', ['status'=>2])}>" >待发货</a>
                </li>
                <li class="li-split" >/</li>
                <li  >
                    <a href="<{:url('index', ['status'=>3])}>" >待收货</a>
                </li>
                <li class="li-split" >/</li>
                <li  >
                    <a href="<{:url('index', ['status'=>4])}>" >已完成</a>
                </li>
                <li class="li-split" >/</li>
                <li  >
                    <a href="javascript: void(0);" >已取消</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="panel panel-default ">
        <div class="panel-heading main-panel-heading">
            <div class=" f_l wp_60 panel-title">商品详情</div>
            <div class=" f_l wp_10 t_c panel-title">收货人</div>
            <div class=" f_l wp_10 t_c panel-title">金额</div>
            <div class=" f_l wp_10 t_c panel-title">订单状态</div>
            <div class=" f_l wp_10 t_c panel-title">操作</div>
        </div>
    </div>
    <{volist name="order" id="vo"}>
        <div class="panel panel-default ">
        <div class="panel-heading">
            <{$vo.order.addtime}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            订单号：<{$vo.order.order_id}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            六耳猕猴

            
        </div>
        <div class="panel-body more-info-detail order-panel-body">
            <div class="order-item-div wp_60 f_l">
                <{volist name="vo.detail" id="v"}>
                    <div class="wp_100 order-goods-detail f_l">
                        <div class="wp_20 f_l">
                            <a href="/index/goods/detail/id/<{$v.gid}>">
                                <img class="cart-goods-pic" src="<{$v.pic}>"/>
                            </a>
                        </div>
                        <div class="wp_60 f_l ">
                            <{$v.goods_name}>
                            <br><br>
                            <{if $v.promotion != ''}>
                                <span class="goods-promotion " > <{$v.promotion}> </span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <{/if}>
                            <{$v.spec}>
                            
                        </div>
                        <div class="wp_20 f_l t_c">
                            x <{$v.num}>
                        </div>
                    </div>
                <{/volist}>
            </div>

            <div class="order-item-div order-item-sub wp_10  t_c f_l">
                <span class="order-user" data-container="body" title="联系方式：<{$vo.order.user_mobile}>" data-toggle="popover" data-placement="left" 
                data-content="收货地址：<{$vo.order.user_address}>  ">
                    <i class="fa fa-user-o"></i>&nbsp;<{$vo.order.user_name}>
                </span>
                
            </div>
            <div class="order-item-div order-item-sub wp_10  t_c f_l">
                 <i class="fa fa-rmb"></i>&nbsp;<{$vo.order.money}>
            </div>
            <!--订单状态-->
            <div class="order-item-div order-item-sub wp_10  t_c f_l">
                <{switch name="vo.order.status"}>
                    <{case value="1"}>待支付<{/case}>
                    <{case value="2"}>待发货<{/case}>
                    <{case value="3"}>待收货<{/case}>
                    <{case value="4"}>已完成<{/case}>
                    <{default/}>其他
                <{/switch}>
            </div>
            <!--操作-->
            
            <div class="order-item-div order-item-sub wp_10  t_c f_l" >
                
                    <{switch name="vo.order.status"}>
                        <{case value="1"}>
                        <a href="/index/wxpay/index?type=order&id=<{$vo.order.order_id}> ">
                            <div class="wp_100 hp_100  order-operation-btn">
                            <{$vo.order.payment_name}>
                            </div>
                        </a>
                            
                        <{/case}>
                        <{case value="2"}>
                            提醒发货
                        <{/case}>
                        <{case value="3"}>
                            确认收货
                        <{/case}>
                        <{case value="4"}>
                            评价
                        <{/case}>
                        <{default/}>其他
                    <{/switch}>
                
                
            </div>
        </div>
    </div>
    <{/volist}>

    

</div>


<{/block}>