<{extend name="./public/index"/}>
<{block name="content"}>
<link rel="stylesheet" href="__CSS__/mall_default_comment.css" type="text/css"/>
<div data-ng-controller="goodsCtrl" class="web-content wp_100 f_l ">
    <div class="content-panel">
        <form class="form-horizontal" method="post" role="form" action="<{:url('comment')}>" enctype="multipart/form-data">                    
        <div class="t_c wp_100 goods-comment">
            <h3 class="o-title"><{$config.page_title}></h3>
            <div class="o-info">
                <span class="m_r20 o-info">
                    订单号：
                    <a class="o-number fz_15" href="" target="_blank"><{$orderinfo.order_id}></a>
                </span>
                <span class="o-info"><{$orderinfo.addtime}></span>
            </div>       
        </div>
        <{volist name="comment" id="vo"}>
        <div class="wp_100 o_h com-info">
            <div class="wp_25  f_l com-goods o_h">
                <div class="wp_100 h100 o_h t_c">
                    <a href="" target="_blank">
                        <img class="w100 h100" src="<{$vo.pic}>" alt="" />
                    </a>
                </div>
                <div class="p-name wp_100 o_h t_c">
                    <a href="" target="_blank"><{$vo.name}></a>
                </div>
                <div class="p-price t_c wp_100">
                    <strong>¥<{$vo.price}></strong>
                </div>
                <div class="o-info wp_100 t_c o_h"><{$vo.spec}> </div>
            </div>
            <div class="wp_75  f_l o-operate o_h">
                <div class="h60">
                    

                    <div class="starbox" required>
                        <span class="s_name">商品满意度</span>
                        <ul class="star_ul fl">
                            <li><a class="one-star" title="1" href="#"></a></li>
                            <li><a class="two-star" title="2" href="#"></a></li>
                            <li><a class="three-star" title="3" href="#"></a></li>
                            <li><a class="four-star" title="4" href="#"></a></li>
                            <li><a class="five-star" title="5" href="#"></a></li>
                        </ul>
                        <span class="s_result fl">0</span><span style="line-height:25px;">分</span>
                    </div>


                </div>
                <div style="clear:both;"></div>
                <div>
                    <span class="item-title f_l">商品评价</span>
                    <div class="o-main f_l">
                        <div class="o-textarea h100">
                            <textarea id="TextArea1" onkeyup="words_deal();" name="textarea" required placeholder="商品是否给力？快分享你的购买心得吧~（评价多于10个字,有机会奖励积分哦~）"></textarea>
                            <span class="o-info">还可输入<font id="textCount">500</font>字</span>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <{/volist}>
        <div style="clear:both;"></div>
        <div class="more-info-navbar wp_100">
            <a class="pull-right" href="javascript: void(0);" title="提交">
                <button class="submit-btn-default ">提交</button>
            </a>
        </div>
        <input type="hidden" name="id" value="<{$orderinfo.order_id}>">
        <input id="satis" type="hidden" name="satisfied" value="0">
    </form>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var flag = 1;
        
        $('.star_ul a').hover(function(){
            flag = 1;
            $('.star_ul a').removeClass('active-star');
            $(this).addClass('active-star');
            $('.s_result').css('color','#c00').html($(this).attr('title'))
        },function(){
            if( flag == 1){
            $(this).removeClass('active-star');
            $('.s_result').css('color','#333').html('0')
            }
        });
        
        $('.star_ul a').click(function(){
             flag = 2;
            $(this).addClass('active-star');
            $('.s_result').css('color','#c00').html($(this).attr('title'))
            var a = $("span.s_result").html();
            $("#satis").val(a);
        });
        $(".pull-right").click(function(){
            var a = $("#satis").val();
            if(a == 0){
                alert('请选择商品满意度');
                return false;
            }
        });
    });

    function words_deal(){
        var curLength=$("#TextArea1").val().length;
        if(curLength>500){
            var num=$("#TextArea1").val().substr(0,500);
            $("#TextArea1").val(num);
            alert("超过字数限制，多出的字将被截断！" );
        }else{
            $("#textCount").text(500-$("#TextArea1").val().length);
        }
    }
</script>

<{/block}>