<{extend name="./public/index"/}>
<{block name="content"}>
<!--special 模板-->
<!--<img style="width: 100%;" src="__STATIC__/images/mall/bg.jpg"/>-->
<!--<p>
    <a href="/index/goods/detail/id/5">测试商品5</a>
    <br>
    <a href="/index/cart/index">购物车</a>
    <br>
    <a href="/index/order/index">订单</a>
</p>-->

<div class=" wp_100 t_c" style="height: 2000px;background: url(__STATIC__/images/mall/bg.jpg) no-repeat;">
    <!--欢迎字样-->
    <img style="margin: 200px 0;" class="" src="__STATIC__/images/mall/index_font.png" />
    <div  class=" content-panel" >
        <!--直推产品-->
        <div class="htmleaf-container" >
		<ul id="hexGrid" >
				<{volist name="goods" id="vo" offset="0" length='3' empty="暂时没有数据"}>
					<li class="hex">
						<!--<a class="hexIn" href="index/goods/detail/id/<{$vo.id}>">-->
						<a class="hexIn" href="<{:url('goods/detail', ['id'=>$vo.id])}>">
							<img src="<{$vo.img}>" alt="" />
							<h1><{$vo.name}></h1>
							<p><{$vo.description}></p>
						</a>
					</li>
				<{/volist}>
	            
	            <li class="hex">
	                <a class="hexIn" href="/index/fishing/index">
	                    <img src="__STATIC__/css/hexagon/img/7.jpg" alt="" />
	                    <!--<h1>进入钓鱼游戏</h1>
	                    <p>商品详情：价格 促销等</p>-->
	                </a>
	            </li>

				<{volist name="goods" id="vo" offset="3" length='3' empty="暂时没有数据"}>
					<li class="hex">
						<a class="hexIn" href="<{:url('goods/detail', ['id'=>$vo.id])}>">
							<img src="<{$vo.img}>" alt="" />
							<h1><{$vo.name}></h1>
							<p><{$vo.description}></p>
						</a>
					</li>
				<{/volist}>



	</div>





    </div>
</div>

<{/block}>