<{extend name="./public/index"/}>
<{block name="content"}>

<link rel="stylesheet" href="__CSS__/pcindex/css/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="__CSS__/pcindex/css/style.css"> <!-- Resource style -->


<main class="cd-image-mask-effect">
	<section class="project-5 cd-project-mask project-selected content-visible center-title" style="overflow: hidden;">

		<!--<h1>Project Name</h1>-->
		<img  class="title_img" src="__STATIC__/images/mall/index_font_pc.png" />
		<div class="featured-image"></div>

		<a href="#0" class="cd-scroll cd-img-replace">Scroll down</a>
		<div class="masks"></div>

		<div class="cd-project-info">
			<div id="product_show">
				<div  class=" content-panel" style="padding-top: 70px;">
					<!--直推产品-->
					<div class="htmleaf-container" >
					<ul id="hexGrid" >

							<{volist name="goods" id="vo" offset="0" length='3' empty="不好意思~"}>
								<li class="hex">

									<a class="hexIn" href="<{:url('goods/detail', ['id'=>$vo.id])}>">
										<img src="<{$vo.img}>" alt="" />
										<h1><{$vo.name}></h1>
										<p><{$vo.description}><br><br>
											<strong style="color: red;">￥<{$vo.price}></strong>&nbsp;&nbsp;&nbsp;&nbsp;
											<span style="color: red;" >免邮</span>
										</p>
										
									</a>
								</li>
							<{/volist}>
							
							<li class="hex">
								<a class="hexIn" href="/index/fishing/index">
									<img src="__STATIC__/images/mall/go_fishing.jpg" alt="" />
									<!--<h1>进入钓鱼游戏</h1>
									<p>商品详情：价格 促销等</p>-->
								</a>
							</li>

							<{volist name="goods" id="vo" offset="3" length='3' empty="正在为您备货~"}>
								<li class="hex">
									<a class="hexIn" href="<{:url('goods/detail', ['id'=>$vo.id])}>">
										<img src="<{$vo.img}>" alt="" />
										<h1><{$vo.name}></h1>
										<p><{$vo.description}></p>
									</a>
								</li>
							<{/volist}>
					</ul>
					</div>
				</div>
			</div>

		</div>
	</section>
</main>


<script src="__CSS__/pcindex/js/main.js"></script>
<!--<script>
	var winHeight = 0;
	Window.onload=function(){
		
		winHeight = window.innerHeight;

		$('#product_show').css({'height': winHeight+'px'});
	}
	window.onresize = function(){
		winHeight = window.innerHeight;
		$('#product_show').css({'height': winHeight+'px'});
	}
	
</script>-->
<{/block}>