<{extend name="./public/index"/}>
<{block name="content"}>


<div id="header-site" class=" t_c product_show" style="height: auto;">
    <!--欢迎字样-->
    <img  class="title_img" src="__STATIC__/images/mall/index_font.png" />
    <a class="up2pro">
    	<span class="fa fa-caret-down"></span>
    </a>
</div>

<div id="product_show">
	<div  class=" content-panel" >
        <!--直推产品-->
        <div class="htmleaf-container" >
		<ul id="hexGrid" >
				<{volist name="goods" id="vo" offset="0" length='3' empty="暂时没有数据"}>
					<li class="hex">
						<!--<a class="hexIn" href="index/goods/detail/id/<{$vo.id}>">-->
						<a class="hexIn" href="<{:url('goods/detail', ['id'=>$vo.id])}>">
							<img src="<{$vo.img}>" alt="" />
							<h1><{$vo.name}></h1>
							<p><{$vo.description}></p>
						</a>
					</li>
				<{/volist}>
	            
	            <li class="hex">
	                <a class="hexIn" href="/index/fishing/index">
	                    <img src="__STATIC__/css/hexagon/img/7.jpg" alt="" />
	                    <!--<h1>进入钓鱼游戏</h1>
	                    <p>商品详情：价格 促销等</p>-->
	                </a>
	            </li>

				<{volist name="goods" id="vo" offset="3" length='3' empty="暂时没有数据"}>
					<li class="hex">
						<a class="hexIn" href="<{:url('goods/detail', ['id'=>$vo.id])}>">
							<img src="<{$vo.img}>" alt="" />
							<h1><{$vo.name}></h1>
							<p><{$vo.description}></p>
						</a>
					</li>
				<{/volist}>
		</ul>
		</div>
    </div>
</div>
<script>
	
// window.onresize = function(){
// 	var winHeight = window.innerHeight;
// 	var winWith = window.innerWidth;
// 	$('#header-site').css({'height': winHeight+'px', 'width': winWith+'px'});


// }
	var height = $(window).height();
	$('.product_show').css('height', height);
	$('#hexGrid').css('height',height+200);
	$('.up2pro').css('top','50%');
	$('.up2pro').click(function (){
		$('html,body').animate({scrollTop: height}, 400);
	});
	setInterval(function(){
	$(".up2pro").fadeOut(500).fadeIn(500);
	},1000);
</script>
<{/block}>